<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dashboard.js" %>
  <%#= javascript_include_tag "kevins_shitty_javascript.js" %>
<% end %>

<style>
  .full{
    overflow: hidden;
  }
  .promoter_info.contact{
    padding:32px 32px 0 0;
    margin: 0 0 0 32px;
  }

  .drilldown_content_section{
    margin: 0 0 0 250px;
    width:1006px;
  }


  .quotes_info{
    background-color:#fff;
    margin:0 8px;
    width:1262px;
    border:1px solid #e5e5e5;
  }
  .fa-angle-down::before,
  .fa-angle-up::before{
    opacity:.3;
    display:block;
  }

  #js-screen_mask{
      width:100%;
      height: 100%;
      position: fixed;
      top:0;
      left:0;
      z-index: 90;
      display:none;
      background:rgba(0,0,0,.5);}

  #js-popup{
      display:none;
      z-index:95;
      background:rgba(255,255,255,1);
      position:fixed;
      display:none;
      top:25%;
      left:30%;
      padding:50px;
  }

  #stats-header {
    background-color:white;
    margin:auto;
    margin-bottom:50px;
    width:100%;
  }

  #stats-header td {
    padding:50px 70px 20px 70px;
    border:1px solid #ddd;
  }

  .kpi_label {
    padding-bottom:10px;
  }

  #date-dropdown {
    width:800px;
    margin:auto;
  }

  #stats_section_header {
    margin-top:50px;
  }

  #body_section_header {
    text-align:center;
    margin-left:-50px;
  }

  .date {
    margin-bottom:15px;
  }

  .dropdown {
    background-color:#333;
    height:0px;
    overflow:hidden;
    position:fixed;
  }

  #slideTable {
    display:none;
  }

  .dropToggle {
    cursor:pointer;
  }
</style>

<section id="dashboard_personal_goals" class="dashboard_section" data-drilldown-level="0" style="margin-top:-100px;">
  <div id="stats_section_header" class="section_header">

    <div class="section_header_content">

    </div>

    <div id="date-dropdown">
      <div class="section_label">
        <div class="tag"><img src="/images/dashboard/customers_icon.png"></div>
      </div>

      <select class="dropdown" id="startMonth">
        <% @months.each_with_index do |month, index|%>
          <% if index + 1 == Date.today.month %>
            <option value="<%=(index + 1)%>" selected><%=@months[index]%></option>
          <% else %>
            <option value="<%=(index + 1)%>"><%=@months[index]%></option>
          <% end %>
        <% end %>
      </select>

      <select class="dropdown" id="startYear">
        <% @currentYear = Date.today.year %>
        <option value="<%=@currentYear%>" selected><%= @currentYear %></option>
        <% until @currentYear == 2013 %>
          <option value="<%=@currentYear -= 1%>"><%= @currentYear -= 1%></option>
        <% end %>
      </select>
      <div class="section_label">
        <div class="text">&nbsp;&nbsp;to</div>
      </div>

      <select class="dropdown" id="endMonth">
        <% @months.each_with_index do |month, index|%>
          <% if index + 1 == Date.today.month %>
            <option value="<%=(index + 1)%>" selected><%=@months[index]%></option>
          <% else %>
            <option value="<%=(index + 1)%>"><%=@months[index]%></option>
          <% end %>
        <% end %>
      </select>

      <select class="dropdown" id="endYear">
        <% @currentYear = Date.today.year %>
        <option value="<%=@currentYear%>" selected><%= @currentYear %></option>
        <% until @currentYear == 2013 %>
          <option value="<%=@currentYear -= 1%>"><%= @currentYear -= 1%></option>
        <% end %>
      </select>
      </div>
    </div> 
  </div>

  <div class="section_body"></div>


</section>

<div id="js-screen_mask"></div>

<div  id="slideData">
<table id="slideTable" style="width:100%;height:0%;z-index:999">
    <thead>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"><strong></strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"><strong>Quantity</strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"><strong>Product</strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"><strong>Amount</strong></td>
    </thead>
      <tr style="background:#444;">
        <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;"><strong>Personal Sale</strong></td>
        <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">23</td>
        <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">SunRun Solar Item</td>
        <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">$50,231</td>
      </tr>
      <tr style="background:#444;">
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;"><strong>Group Sale</strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">23</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">SunRun Solar Item</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">$50,231</td>
      </tr>
      <tr style="background:#444;">
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;"><strong>Enroller Bonus</strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">23</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">SunRun Solar Item</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">$50,231</td>
      </tr>
      <tr style="background:#444;">
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;"><strong>Uni-Level Bonus</strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">23</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">SunRun Solar Item</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">$50,231</td>
      </tr>
      <tr style="background:#444;">
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;"><strong>Promote-Out</strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">23</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">SunRun Solar Item</td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">$50,231</td>
      </tr>
      <tr style="background:#444;">
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;"><strong>Total</strong></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"></td>
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">$502,231</td>
      </tr>
    </table>
</div>
<div class="temp"></div>
<br><br><br>


<script type="text/javascript">

var dropFlag = false;
var slideData = $("#slideData").html()
var startYear = (new Date()).getYear() + 1900
var startMonth = (new Date()).getMonth() + 1
var endYear = (new Date()).getYear() + 1900
var endMonth = (new Date()).getMonth() + 1

// _ajax({
//   _ajaxType: "get",
//   _url: "/u/earnings/summary?format=json&user_id=<%=current_user.id%>&start_year="+startYear+"&start_month="+startMonth+"&end_year="+startYear+"&end_month="+startMonth,
//   _callback: function(data, text) {
//       EyeCueLab.UX.getTemplate("/templates/auth/earnings/_summary.handlebars.html", data, undefined, function(html) {
//        $(".section_header_content").append(html);
//     });
//   }
// });

// _ajax({
//   _ajaxType: "get",
//   _url: "/u/earnings/summary?format=json&user_id=<%=current_user.id%>&start_year="+startYear+"&start_month="+startMonth+"&end_year="+startYear+"&end_month="+startMonth,
//   _callback: function(data, text) {
//       console.log(data)
//       EyeCueLab.UX.getTemplate("/templates/auth/earnings/_details.handlebars.html", data, undefined, function(html) {
//        $(".section_body").append(html);
//        clickEvents();
//     });
//   }
// });

$(document).ready(function(){

function getEarnings(){

  var _endPoints =[];
  _endPoints.push({
      url:"/u/earnings/summary?format=json&user_id=<%=current_user.id%>&start_year="+startYear+"&start_month="+startMonth+"&end_year="+startYear+"&end_month="+startMonth,
      // url:"/u/earnings/summary?format=json&user_id=<%=current_user.id%>&start_year="+2014+"&start_month="+10+"&end_year="+2014+"&end_month="+10,
      data:{},
      name:"Summary"
  });
  _endPoints.push({
      url:"/u/earnings/detail?format=json&user_id=<%=current_user.id%>&pay_period_id="+startYear+"W"+startMonth,
      data:{},
      name:"Detail"
  });
  EyeCueLab.JSON.asynchronousLoader(_endPoints, function(_returnJSONs){
    _summaryData = EyeCueLab.JSON.getObjectsByPattern(_returnJSONs, {"containsIn(class)":["list", "earnings"]})
    _detailsData = EyeCueLab.JSON.getObjectsByPattern(_returnJSONs, {"containsIn(class)":["list", "earnings_detail"]})
    console.log(_summaryData)
    if(_summaryData[0].entities.length === 0){
      for (var i = 0; i < 4; i++) {
         _summaryData[0].entities[i] = []
         _summaryData[0].entities[i].properties = {
                                                  "pay_period_type":"Weekly",
                                                  "amount":0,
                                                  "pay_period_week_number":(i + 1),
                                                  "pay_period_date_range":startMonth
                                                }
      }
      _summaryData[0].properties.active = false;
    } 
    // else {
    //   for (var i = 0; i < 4; i++) {
    //     if(_summaryData[0].entities[i].properties.pay_period_type === "Monthly") break;
    //     if(_summaryData[0][i].properties.pay_period_week_number !== (i + 1)){
    //       i = 0;
    //       _summaryData[0].entities[i].properties = {
    //                                                      "pay_period_title":"Weekly",
    //                                                      "amount":0,
    //                                                      "pay_period_week_number":(i + 1)
    //                                                    }
    //     }
    //   }
    // }

    EyeCueLab.UX.getTemplate("/templates/auth/earnings/_header.handlebars.html", _summaryData, $(".section_header_content"), function(html) {
    });
    EyeCueLab.UX.getTemplate("/templates/auth/earnings/_summary.handlebars.html", _summaryData, $(".section_body"), function(html) {
    });
    EyeCueLab.UX.getTemplate("/templates/auth/earnings/_details.handlebars.html", _detailsData,  $(".temp"), function(html) {
      clickEvents();
    });
  });
}
// _ajax({
//   _ajaxType: "get",
//   _url: "/u/earnings/detail?format=json&user_id=<%=current_user.id%>&pay_period_id="+startYear+"-"+startMonth,
//   _callback: function(data, text) {
//       console.log(data)
//       EyeCueLab.UX.getTemplate("/templates/auth/earnings/_details.handlebars.html", data, undefined, function(html) {
//        $(".section_body").append(html);
//     });
//   }
// });

  function clickEvents(){ 
    $(".dropToggle").click(function(e){
      if(dropFlag == false) {
        e.stopPropagation() 
        row = $(this).parent().parent()
        $("<tr id='click-me'><td colspan='5' class='dropdownz' style='background-color:#333;color:#eee;text-align:left;padding:30px'></td></tr>").insertAfter(row);
        $('.dropdownz').append(slideData)
        $('#slideData').css("display","none")
        $('.dropdownz').velocity({height:"330px"}, function(){
          $('#slideTable').fadeIn(400);
        })
        dropFlag = true;

      } else if(dropFlag == true) {
        reverseDrop(e)
      }
      
    });    

    $(document).on("click", function(e){
      
      if(dropFlag == true) {
        reverseDrop(e)
      }
    })

    function reverseDrop(e){
      e.stopPropagation() 
      $('#slideTable td').css("padding","0px");
      $('.dropdownz').css("padding","0px");
      $('.dropdownz tr').hide()
      $('.dropdownz').velocity({height:'0px'}, function(){
        $('.dropdownz').remove();
      });
      dropFlag = false;
    }
  }
  $('.dropdown').on("change",function(){
<<<<<<< HEAD
    startYear = $('#startYear option:selected').val()
    startMonth = $('#startMonth option:selected').val()
    endYear = $('#endYear option:selected').val()
    endMonth = $('#endMonth option:selected').val()
    console.log("starYear: " + startYear)
    console.log("startMonth: " + startMonth)
    console.log("endYear: " + endYear)
    console.log("endMonth: " + endMonth)
    // getEarnings();
=======
    startYear = $('.startYear option:selected').val()
    startMonth = 
    getEarnings();
>>>>>>> update earnings page to show -bash when no pay period or bonus payment exists
  })

  getEarnings();
})
</script>
