<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dashboard.js" %>
<% end %>


<section id="dashboard_personal_goals" data-drilldown-level="0">
  <div class="section_header">

    <div class="section_header_content"></div>

    <div id="date-dropdown">
      <div class="section_label">
        <div class="tag"><img src="/images/dashboard/customers_icon.png"></div>
      </div>

      <select class="dropdown" id="startMonth">
        <% @months.each_with_index do |month, index|%>
          <% if index + 1 == Date.today.month %>
            <option value="<%=(index + 1)%>" selected><%=@months[index]%></option>
          <% else %>
            <option value="<%=(index + 1)%>"><%=@months[index]%></option>
          <% end %>
        <% end %>
      </select>

      <select class="dropdown" id="startYear">
        <% @currentYear = Date.today.year %>
        <option value="<%=@currentYear%>" selected><%= @currentYear %></option>
        <% until @currentYear == 2013 %>
          <% @currentYear -= 1%>
          <option value="<%=@currentYear%>"><%=@currentYear%></option>
        <% end %>
      </select>
      <div class="section_label">
        <div class="text">&nbsp;&nbsp;to</div>
      </div>

      <select class="dropdown" id="endMonth">
        <% @months.each_with_index do |month, index|%>
          <% if index + 1 == Date.today.month %>
            <option value="<%=(index + 1)%>" selected><%=@months[index]%></option>
          <% else %>
            <option value="<%=(index + 1)%>"><%=@months[index]%></option>
          <% end %>
        <% end %>
      </select>

      <select class="dropdown" id="endYear">
        <% @currentYear = Date.today.year %>
        <option value="<%=@currentYear%>" selected><%= @currentYear %></option>
        <% until @currentYear == 2013 %>
         <% @currentYear -= 1%>
          <option value="<%=@currentYear%>"><%=@currentYear%></option>
        <% end %>
      </select>
      </div>
    </div> 
  </div>
  <br>
  <br>
  <div class="warning"></div>

  <div class="section_body"></div>

</section>

<br><br><br>


<script type="text/javascript">

var dropFlag = false;
var _detailsData = [];
var startYear = (new Date()).getYear() + 1900
var startMonth = (new Date()).getMonth() + 1
var endYear = (new Date()).getYear() + 1900
var endMonth = (new Date()).getMonth() + 1
var currentMonth = 0;

_ajax({
  _ajaxType: "get",
  _url: "/u/earnings/summary?format=json&user_id=<%=current_user.id%>&start_year="+startYear+"&start_month="+startMonth+"&end_year="+endYear+"&end_month="+endMonth,
  _callback: function(data, text) {
    if(data.entities.length == 0){
      data.properties.active = false;
    }
      EyeCueLab.UX.getTemplate("/templates/auth/earnings/_header.handlebars.html", data, $(".section_header_content"), function(html) {
    });
  }
});


$(document).ready(function(){

function checkRange(){
  $('.warning').empty()
  var range = endMonth - startMonth + ((endYear - startYear)*12);
  if(range < 0) $('.warning').html("Invalid Date Range")
  else return range + 1;
}

function getEarnings(){
  currentMonth = parseInt(startMonth - 1)
  currentYear = parseInt(startYear)
  var _endPoints =[];
  var range = checkRange()
  for(i=0;i<range;i++){
    if(currentMonth == 12){
      currentMonth = 0
      currentYear += 1
    }

    currentMonth += 1 
    console.log(currentMonth)
    _endPoints.push({
        url:"/u/earnings/summary?format=json&user_id=<%=current_user.id%>&start_year="+startYear+"&start_month="+currentMonth+"&end_year="+startYear+"&end_month="+currentMonth,
        // url:"/u/earnings/summary?format=json&user_id=<%=current_user.id%>&start_year="+2014+"&start_month="+10+"&end_year="+2014+"&end_month="+10,
        data:{},
        name:"Summary"
    });
  }
  EyeCueLab.JSON.asynchronousLoader(_endPoints, function(_returnJSONs){
    _summaryData = EyeCueLab.JSON.getObjectsByPattern(_returnJSONs, {"containsIn(class)":["list", "earnings"]})

    currentMonth = startMonth - 1;
    var currentYear = startYear;
    for(var i = 0; i < _summaryData.length; i++){
        if(currentMonth == 12){
          currentMonth = 0;

          currentYear = parseInt(currentYear) + 1;
        }
      if(_summaryData[i].entities.length === 0){
        _summaryData[i].entities[0] = [] 
        _summaryData[i].entities[0].properties = {
                                                  "pay_period_year":(String(currentYear)),
                                                  "pay_period_month":(String(currentMonth)), 
                                                  "pay_period_type":"Monthly"
                                                 }
        for (var n = 1; n < 5; n++) {
           _summaryData[i].entities[n] = []
           _summaryData[i].entities[n].properties = {
                                                    "pay_period_type":"Weekly",
                                                    "amount":0,
                                                    "pay_period_week_number":(n),
                                                    "pay_period_date_range":"-"
                                                  }
        }
        _summaryData[i].properties.active = false;
      } else {
        // for(var n=0;n<4;n++){
        //   if _summaryData[i].entities[n].
        // }
        _summaryData[i].entities[0].properties.pay_period_month = (String(currentMonth))
        _summaryData[i].entities[0].properties.pay_period_year = (String(currentYear))
      }
      currentMonth += 1 
    }
    
    EyeCueLab.UX.getTemplate("/templates/auth/earnings/_summary.handlebars.html", _summaryData, $(".section_body"), function(html) {
      clickEvents();
    });
  });
}


  function clickEvents(){ 
    $(".dropToggle.weekly").click(function(e){
      if(dropFlag == false) {
        e.stopPropagation() 
        row = $(this).parent().parent()
        $("<tr id='click-me'><td colspan='5' class='dropDownDetails' style='background-color:#333;color:#eee;text-align:left;padding:30px'></td></tr>").insertAfter(row);
        _ajax({
          _ajaxType: "get",
          _url:"/u/earnings/detail?format=json&user_id=<%=current_user.id%>&pay_period_id="+$(this).attr("id"),
          _callback: function(data, text) {
            if(data.entities.length == 0){
              data.properties.active = false;
            }

        EyeCueLab.UX.getTemplate("/templates/auth/earnings/_details.handlebars.html", data, $(".dropDownDetails"), function(html) {
            });
        $('.dropDownDetails').velocity({height:"330px"}, function(){
          $('#slideTable').fadeIn(400);
        })
        dropFlag = true;
          }
        });
      } else if(dropFlag == true) {
        reverseDrop(e)
      }
    });    

    $(document).on("click", function(e){
      
      if(dropFlag == true) {
        reverseDrop(e)
      }
    })

    

    function reverseDrop(e){
      e.stopPropagation() 
      $('#slideTable td').css("padding","0px");
      $('.dropDownDetails').css("padding","0px");
      $('.dropDownDetails tr').hide()
      $('.dropDownDetails').velocity({height:'0px'}, function(){
        $('.dropDownDetails').remove();
      });
      dropFlag = false;
    }
  }
  $('.dropdown').on("change",function(){
    startYear = $('#startYear option:selected').val()
    startMonth = $('#startMonth option:selected').val()
    if(startMonth < 10) startMonth = "0" + startMonth
    endYear = $('#endYear option:selected').val()
    endMonth = $('#endMonth option:selected').val()
    if(endMonth < 10) endMonth = "0" + endMonth
    getEarnings();
  })

  function fillHeaders(){

    var months = [ "","January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ]
    $('.date').each(function(index, element){
    })
  }

  getEarnings();
})
</script>
