<% content_for :javascript_includes do %>
  <%= javascript_include_tag "earnings.js" %>
<% end %>

<section id="dashboard_personal_goals" data-drilldown-level="0">
  <div class="section_header">

    <div class="section_header_content"></div>

    <div id="date-dropdown">
      <div class="section_label">
        <div class="tag"><img src="/images/dashboard/customers_icon.png"></div>
      </div>

      <select class="dropdown" id="startMonth">
        <% @months.each_with_index do |month, index|%>
          <% if index + 1 == Date.today.month %>
            <option value="<%=(index + 1)%>" selected><%=@months[index]%></option>
          <% else %>
            <option value="<%=(index + 1)%>"><%=@months[index]%></option>
          <% end %>
        <% end %>
      </select>

      <select class="dropdown" id="startYear">
        <% @currentYear = Date.today.year %>
        <option value="<%=@currentYear%>" selected><%= @currentYear %></option>
        <% until @currentYear == 2014 %>
          <% @currentYear -= 1%>
          <option value="<%=@currentYear%>"><%=@currentYear%></option>
        <% end %>
      </select>
      <div class="section_label">
        <div class="text">&nbsp;&nbsp;to</div>
      </div>

      <select class="dropdown" id="endMonth">
        <% @months.each_with_index do |month, index|%>
          <% if index + 1 == Date.today.month %>
            <option value="<%=(index + 1)%>" selected><%=@months[index]%></option>
          <% else %>
            <option value="<%=(index + 1)%>"><%=@months[index]%></option>
          <% end %>
        <% end %>
      </select>

      <select class="dropdown" id="endYear">
        <% @currentYear = Date.today.year %>
        <option value="<%=@currentYear%>" selected><%= @currentYear %></option>
        <% until @currentYear == 2014 %>
         <% @currentYear -= 1%>
          <option value="<%=@currentYear%>"><%=@currentYear%></option>
        <% end %>
      </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="warning"></div>

  <div class="section_body"></div>

</section>

<br><br><br>
