<% content_for :javascript_includes do %>
	<%= javascript_include_tag "dashboard.js" %>
	<%= javascript_include_tag "kevins_shitty_javascript.js" %>
<% end %>

<style>
	.full{
		overflow: hidden;
	}
	.promoter_info.contact{
		padding:32px 32px 0 0;
		margin: 0 0 0 32px;
	}
</style>

<% if params[:first_run] == "true" %>

	<div id="system_feedback">
		<h1>Way to go! You're now a Sunstand advocate!</h1>
		<p>Help us reach our global goals of neutralizing the carbon footprint of 4 million people and getting solar into 2 million homes by 2025.</p> 
		<p>Here's how it works...</p>
		<div class="system_feedback_graphic dev_img_placeholder">[find customers graphic]</div>
		<div class="system_feedback_graphic dev_img_placeholder">[recruit advocates graphic]</div>
		<div class="system_feedback_graphic dev_img_placeholder">[change the world graphic]</div>
	</div>

<% else %>
<% end %> 

<section id="dashboard_kpis" class="dashboard_section" data-drilldown-level="0">

	<div class="section_header">
		<div class="section_header_content">

			<% if params[:first_run] == "true" %>
			<% else %>

			<%= select_tag "Level", options_for_select(
				[
					"My Impact", 
				    "Level 2 Impact",
				    "Level 3 Impact",
				    "Level 4 Impact",
				    "Level 5 Impact",
				    "Level 6 Impact",
				    "Total Impact"
				], ["My Impact"]),
				{ :class => 'title_select' }
			%>

			<% end %>

		</div>
	</div>

	<div class="section_body">
		<div class="section_content">

			<% if params[:first_run] == "true" %>
				<div class="blank_state">
					You don't have any metrics yet. <a onclick="detailExpander('invite_detail', 'Invite');">Invite a fellow advocate</a> or <a href="#">add a customer quote</a> to watch your impact grow.
				</div>
			<% else %>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type1">
					<div class="js-thumbnail">
						<div class="kpi_circle" id="c02_reduction">
							<span>4,031</span>
						</div>
						<h3>Tons of C0<sub>2</sub> Saved</h3>
						<span class="subtext">Across your entire team</span>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_environment_detail"%>
					<% end %>

				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type2">
					<div class="js-thumbnail">
						<canvas id="kpi_chart_sales" class="kpi_chart" width="76" height="76"></canvas>
						<h3>43 Rooftops</h3>
						<span class="subtext">Out of 98 quotes</span>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>
					<% if false %>
						<%= render partial: "shared/kpi_customer_detail"%>
					<% end %>
				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type3">
					<div class="js-thumbnail">
						<canvas id="kpi_chart_team" class="kpi_chart" width="222" height="76"></canvas>
						<h3>13 Team Members</h3>
						<span class="subtext">23 in your oganization</span>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_team_detail"%>
					<% end %>

				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type4">
					<div class="js-thumbnail">
						<canvas id="kpi_chart_earnings" class="kpi_chart" width="222" height="76"></canvas>
						<h3>$32,450 Earnings</h3>
						<span class="subtext">Down 5% this week</span>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_volume_detail"%>
					<% end %>

				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type5">
					<div class="js-thumbnail">
						<canvas id="kpi_chart_level_up" class="kpi_chart" width="222" height="76"></canvas>
						<h3>Rank 5</h3>
						<span class="subtext">Get 2 sales to reach Rank 6</span>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_rank_detail"%>
					<% end %>

				</div>

			<% end %>

		</div>
	</div>
</section>

<section id="dashboard_quotes" class="dashboard_section" data-drilldown-level="0">
	<div class="section_header">
		<div class="section_header_content">

			<%= select_tag "Level", options_for_select(
				[
					"My Quotes", 
				    "Level 2 Quotes",
				    "Level 3 Quotes",
				    "Level 4 Quotes",
				    "Level 5 Quotes",
				    "Level 6 Quotes",
				    "All Quotes"
				], ["My Quotes"]),
				{ :class => 'title_select' }
			%>

			<% if params[:first_run] == "true" %>
			<% else %>

	            <ul class="tabs">
	              <li><a href="" class="active">Incomplete</a></li>
	              <li><a href="">Submitted</a></li>
	              <li><a href="">Approved</a></li>
	            </ul>

				<span class="collection_total">47 total</span>

				<input type="search" class="section_search" placeholder="search quotes"/>
			
			<% end %>

		</div>
	</div>

	<div class="section_body">
		<div class="section_content quotes_info">

			<% if params[:first_run] == "true" %>

				<div class="blank_state">
					You don't have any quotes yet. <a href="#">Add a customer lead</a> to get started.
				</div>
			
			<% else %>

				<%= render partial: "shared/new_quote_thumbnail"%>
				<div class="pagination_container" data-comment="required for pagination - do not remove">
					<div class="nav left"><i class="fa fa-angle-left"></i></div>
					<div class="pagination_content">
						<p class="blank_state">
						You don't have any quotes yet.
						<br/><i class="fa fa-arrow-left"></i>&nbsp; Add a quotes</a> to get started.
						</p>

					</div>
					<div class="nav right"><i class="fa fa-angle-right"></i></div>
				</div>

			<% end %>

		</div>

			<% if params[:first_run] == "true" %>
			<% else %>

	<!-- 			<div class="section_notification positive">
					<a href="#">This is a positive notification about Barry - click to go to a new page...</a>
					<span class="dismiss"><i class="fa fa-times"></i></span>
				</div> -->
			
			<% end %>

	</div>
</section>

<section id="dashboard_team" class="dashboard_section" data-drilldown-level="0">
	<div class="section_header">
		<div class="section_header_content">

			<%= select_tag "Level", options_for_select(
				[
					"My Team", 
				    "Level 2 Team",
				    "Level 3 Team",
				    "Level 4 Team",
				    "Level 5 Team",
				    "Level 6 Team",
				    "Everybody"
				], ["My Team"]),
				{ :class => 'title_select' }
			%>

			<% if params[:first_run] == "true" %>
			<% else %>

			<%= select_tag "Level", options_for_select(
				[
					"All Ranks", 
				    "Rank 1",
				    "Rank 2",
				    "Rank 3",
				    "Rank 4",
				    "Rank 5"
				], ["All Ranks"]),
				{ :class => 'title_select' }
			%>

				<%= select_tag "Show", options_for_select(
					[
						"Sorted By Impact", 
					    "Sorted By Earnings",
					    "Sorted By Newest",
					    "Sorted By Oldest"
					], ["Sorted By Impact"]) 
				%>

				<input type="search" class="section_search js-search_box" placeholder="search team" data-search-source="users"/>

				<span class="collection_total">17 total</span>

			<% end %>

		</div>
	</div>

	<div class="section_body">
			
		<div class="section_content team_info">
			<div class="new_thumbnail js-thumbnail_parent js-invites_thumbnail">
				<div class="js-thumbnail" >
					<span class="placeholder_avatar">
						<span class="js-remaining_invitations"></span>
					</span>
					<span>Invites Available</span>
					<span class="subtext js-expired_invitations"></span>
					<span class="expand">
						<i class="fa fa-angle-down"></i>
					</span>
				</div>
			</div>

			<div class="pagination_container" data-comment="required for pagination - do not remove">
				<div class="nav left"><i class="fa fa-angle-left"></i></div>
				<div class="pagination_content">
					<p class="blank_state">
					You don't have any team members yet.
					<br/><i class="fa fa-arrow-left"></i>&nbsp; Invite a fellow advocate</a> to grow your team.
					</p>

				</div>
				<div class="nav right"><i class="fa fa-angle-right"></i></div>
			</div>

		</div>
	</div>
</section>

<% if params[:first_run] == "true" %>
<% else %>

	<section id="dashboard_payments" class="dashboard_section">
		<div class="section_header">
			<div class="section_header_content">

				<%= select_tag "Level", options_for_select(
					[
						"My Earnings", 
					    "Level 2 Earnings",
					    "Level 3 Earnings",
					    "Level 4 Earnings",
					    "Level 5 Earnings",
					    "Level 6 Earnings",
					    "Total Earnings"
					], ["My Earnings"]),
					{ :class => 'title_select' }
				%>

				<%= select_tag "Level", options_for_select(
					[
						"Past month", 
					    "Past 3 months",
					    "Past 6 months",
					    "Past year",
					    "All time"
					], ["Past month"]),
					{ :class => 'title_select' }
				%>

			</div>
		</div>

		<div class="section_body">
			<div class="section_content">
				<%= render partial: "shared/payment_thumbnail", :locals => {:id => "1", :amount => "$2,345", :mail_date => "4/1/14", :has_mailed => false}%>
				<%= render partial: "shared/payment_thumbnail", :locals => {:id => "2", :amount => "$1,234", :mail_date => "3/23/14", :has_mailed => true}%>
				<%= render partial: "shared/payment_thumbnail", :locals => {:id => "3", :amount => "$789", :mail_date => "3/16/14", :has_mailed => true}%>
			</div>
		</div>
	</section>

<% end %>

<section id="dashboard_pages" class="dashboard_section">
	<div class="section_header">
		<div class="section_header_content">
			<h2 class="section_title">Your Pages</h2>
		</div>
	</div>

	<div class="section_body">
		<div class="section_content">

			<% if params[:pro] == "true" %>

				<%= render partial: "shared/new_link_thumbnail" %>
				<%= render partial: "shared/link_thumbnail", :locals => {:campaign_title => "March Facebook Post", :url => "sunstand.com/1234", :total_hits => "12,472", :start_date => "3/1/14"}%>
				<%= render partial: "shared/link_thumbnail", :locals => {:campaign_title => "February Email Blast", :url => "sunstand.com/4321", :total_hits => "840", :start_date => "2/16/14"}%>

			<% else %>

				<%= render partial: "shared/page_thumbnail", :locals => {:page_title => "For Customers", :url => "/1234"}%>
				<%= render partial: "shared/page_thumbnail", :locals => {:page_title => "For Promoters", :url => "/4321"}%>

				<div class="blank_state hide">
					<p>This is a static page that you can share with others.</p>
					<p>To generate custom url's for tracking campaigns, <a href="/upgrade">upgrade to Pro</a>.</p>
				</div>

			<% end %>

		</div>
<!-- 		<%= render partial: "shared/new_link_detail"%>
 -->	</div>
</section>
	