<section id="system_feedback">
	<%= render :partial => "shared/sonny_svg" %>
	<p>"You just started, so you're a sprout [classes: sprout, sapling, mighty oak, etc]. Add team members (branches) and leads (buds) to grow your customers (leaves)"</p>
</section>

<section id="dashboard_kpis" class="dashboard_section">
	<div class="section_header">
		<h2>Your Tree</h2>
		<ul>
			<li> 
				<%= select_tag "Show", options_for_select(
					[
						"1st forks", 
					    "2nd forks", 
					    "3rd forks"
					], ["1st fork"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">
		<div class="kpi">
			<h3>3 branches <i class="fa fa-pagelines"></i></h3>
			<span class="subtext">X amount of foo</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>7 Buds <i class="fa fa-tint"></i></h3>
			<span class="subtext">2 new this week</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>13 leaves <i class="fa fa-leaf"></i></h3>
			<span class="subtext">14,258 kWh saved</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>$3,531 payout</h3>
			<span class="subtext">Up 13% this week</span>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>$32,450 Volume</h3>
			<span class="subtext">Down 5% this week</span>
			<i class="fa fa-angle-down"></i>
		</div>
	</div>
	<div class="section_notification neutral js_expand_notification dev_arrow_position_for_tree">
		This is a neutral notification about your buds - click to expand and see more...
		<span class="dismiss"><i class="fa fa-times"></i></span>
	</div>
</section>

<section id="dashboard_payments" class="dashboard_section">
	<div class="section_header">
		<h2>Your Fruit</h2>
		<ul>
			<li class="search"><i class="fa fa-search"></i></li>
			<li> 
				<%= select_tag "Show", options_for_select(
					[
						"Past 3 months", 
					    "Past 6 months", 
					    "Past year", 
					    "All time"
					], ["Past 3 months"]) 
				%>
			</li>
			<li>
				<%= select_tag "Sort", options_for_select(
					[
						"By latest", 
					    "By earliest", 
					    "By highest", 
					    "By lowest"
					], ["By latest"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">
		<%= render partial: "payment_thumbnail", :locals => {:amount => "$2,345", :mail_date => "4/1/14", :has_mailed => false}%>
		<%= render partial: "payment_thumbnail", :locals => {:amount => "$1,234", :mail_date => "3/1/14", :has_mailed => true}%>
		<%= render partial: "payment_thumbnail", :locals => {:amount => "$789", :mail_date => "2/1/14", :has_mailed => true}%>
	</div>
	<div class="object_detail">
		<span class="dismiss"><i class="fa fa-times"></i></span>
		<div class="object_detail_content">
			<div class="object_detail_content_section summary">
				<h4>$1,234 total payment</h4>
				<span class="subtext">$12,345 total volume</span>
				<span class="subtext">Up 156% from previous</span>
			</div>
			<div class="object_detail_content_section">
				<h4>One-time: $456</h4>
				<span class="subtext">Johnson : 2/14/14 : $123</span>
				<span class="subtext">Pyle : 2/16/14 : $123</span>
				<span class="subtext">Gomez : 2/14/14 : $123</span>
			</div>
			<div class="object_detail_content_section">
				<h4>Recurring: $678</h4>
				<span class="subtext">Johnson : 2/14/14 : $123</span>
				<span class="subtext">Pyle : 2/16/14 : $123</span>
				<span class="subtext">Gomez : 2/14/14 : $123</span>
			</div>
			<div class="object_detail_content_section">
				<h4>Bonuses: $100</h4>
				<span class="subtext">kWh Savers Bonus: $100</span>
			</div>
		</div>
	</div>
</section>

<section id="dashboard_customers" class="dashboard_section">
	<div class="section_header">
		<h2>Your leaves</h2>
		<ul>
			<li class="search"><i class="fa fa-search"></i></li>
			<li>
				<%= select_tag "Sort", options_for_select(
					[
						"By top earnings", 
					    "By lowest earnings", 
					    "By energy saved", 
					    "By newest"
					], ["By top earnings"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">
		<%= render partial: "customer_thumbnail", :locals => {:customer_name => "Ross Betsy", :kWh => "4,458", :total_fruit => "$4,587"}%>
		<%= render partial: "customer_thumbnail", :locals => {:customer_name => "Jack Andrew", :kWh => "134", :total_fruit => "$147"}%>
		<%= render partial: "customer_thumbnail", :locals => {:customer_name => "Frank Benjamin", :kWh => "487", :total_fruit => "$23"}%>
	</div>
		<div class="section_notification negative">
		This is a negative notification about Jack Andrew - it has no action.
		<span class="dismiss"><i class="fa fa-times"></i></span>
	</div>
	<div class="fluid-wrapper">
		<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zkJJ8DsdQ4Zg.kDpcIzes3Bb0" width="640" height="480" scrolling="no" id="customer_map"></iframe>
	</div>

</section>

<section id="dashboard_leads" class="dashboard_section">
	<div class="section_header">
		<h2>Your Buds</h2>
		<a href="#" class="button">New <i class="fa fa-tint"></i></a>
		<ul>
			<li class="search"><i class="fa fa-search"></i></li>
			<li>
				<%= select_tag "Sort", options_for_select(
					[
						"By newest", 
					    "By oldest", 
					    "By most complete", 
					    "By least complete"
					], ["By newest"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">
		<%= render partial: "lead_thumbnail", :locals => {:first_name => "Marky", :last_name => "Mark", :has_address => true, :has_rooftop => false, :has_utility => true}%>
		<%= render partial: "lead_thumbnail", :locals => {:first_name => "Barry", :last_name => "Bonilla", :has_address => false, :has_rooftop => false, :has_utility => false}%>
		<%= render partial: "lead_thumbnail", :locals => {:first_name => "Jimmy", :last_name => "The Rat", :has_address => true, :has_rooftop => true, :has_utility => false}%>
	</div>
	<div class="section_notification positive">
		<a href="#">This is a positive notification about Barry - click to go to a new page...</a>
		<span class="dismiss"><i class="fa fa-times"></i></span>
	</div>

</section>

<section id="dashboard_team" class="dashboard_section">
	<div class="section_header">
		<h2>Your Branches</h2>
		<a href="#" class="button">New <i class="fa fa-pagelines"></i></a>
		<ul>
			<li class="search"><i class="fa fa-search"></i></li>
			<li>
				<%= select_tag "Sort", options_for_select(
					[
						"By latest", 
					    "By earliest", 
					    "By highest", 
					    "By lowest"
					], ["By latest"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">
		<%= render partial: "team_thumbnail", :locals => {:first_name => "Bob", :last_name => "Smith", :leaves => "37", :buds => "3"}%>
		<%= render partial: "team_thumbnail", :locals => {:first_name => "Sherry", :last_name => "Bailey", :leaves => "42", :buds => "0"}%>
		<%= render partial: "team_thumbnail", :locals => {:first_name => "Uncle", :last_name => "Fester", :leaves => "2", :buds => "13"}%>

	</div>
	<div class="object_detail collapsed">
		<span class="dismiss"><i class="fa fa-times"></i></span>
		<h3>Thatch R. Margaret: Sapling</h3>
		<div class="object_detail second">
			<span class="dismiss"><i class="fa fa-times"></i></span>
			<div class="object_detail_content">
				<p>This is some in-depth information on Thatch R. Margaret, a member of Sherry Bailey's team. This is an example of drilling down through levels of information using vertical breadcrumbs.</p>
				<p>If we close this, the we go back up to some in-depth information about Sherry, perhaps. Or, if we want to drill down further, we can simple repeat this pattern as deep as we like - the user can always find there way back up through the levels, or close the whole thing without difficulty.</p>
			</div>
		</div>
	</div>
</section>

<section id="dashboard_pages" class="dashboard_section">
	<div class="section_header">
		<h2>Your Garden</h2>
		<a href="#" class="button">Invite Customer</a>
		<a href="#" class="button">Invite Promoter</a>
		<ul>
			<li> 
				<%= select_tag "Show", options_for_select(
					[
						"Past 24 hours", 
					    "Past week", 
					    "Past month", 
					    "All time"
					], ["Past 24 hours"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">

		<div class="customer_page_kpis">
			<h3><a href="/customer/signup/#1234">Customer Referral Page</a></h3>

			<p>Unique visitors
				<br/>Visitors > leads
				<br/>Leads > Customers
				<br/>Top 3 referrers
			</p>
			
		</div>
		<div class="promoter_page_kpis">
			<h3><a href="/customer/signup/#4321">Promoter Referral Page</a></h3>

			<p>Unique visitors
				<br/>Visitors > promoters
				<br/>Top 3 referrers
			</p>
		</div>
	</div>
</section>
