<section id="system_feedback">
	<%= render :partial => "shared/sonny_svg" %>
	<p>"You just started, so you're a sprout [classes: sprout, sapling, mighty oak, etc]. Add team members (branches) and leads (buds) to grow your customers (leaves)"</p>
</section>

<section id="dashboard_kpis">
	<div class="section_header">
		<h2>Your Tree</h2>
	</div>
	<div class="section_content">
		<div class="kpi">
			<h3>3 branches <i class="fa fa-pagelines"></i></h3>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>7 Buds <i class="fa fa-tint"></i></h3>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>13 leaves <i class="fa fa-leaf"></i></h3>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>$3,531 to date</h3>
			<i class="fa fa-angle-down"></i>
		</div>
		<div class="kpi">
			<h3>14,258 kWh</h3>
			<i class="fa fa-angle-down"></i>
		</div>
	</div>
</section>

<section id="dashboard_team">
	<div class="section_header">
		<h2>Your Branches</h2>
		<a href="#" class="button">New <i class="fa fa-pagelines"></i></a>
		<ul>
			<li><i class="fa fa-search"></i></li>
			<li>Sort</li>
			<li>Show</li>
			<li>Send</li>
		</ul>
	</div>
	<div class="section_content">
		<%= render partial: "team_thumbnail", :locals => {:first_name => "Bob", :last_name => "Smith", :leaves => "37", :buds => "3"}%>
		<%= render partial: "team_thumbnail", :locals => {:first_name => "Sherry", :last_name => "Bailey", :leaves => "42", :buds => "0"}%>
		<%= render partial: "team_thumbnail", :locals => {:first_name => "Uncle", :last_name => "Fester", :leaves => "2", :buds => "13"}%>

	</div>
	<div class="section_notification">
		This is a notification about this person or their team - click to find out more...
	</div>
</section>

<section id="dashboard_leads">
	<div class="section_header">
		<h2>Your Buds</h2>
		<a href="#" class="button">New <i class="fa fa-tint"></i></a>
		<ul>
			<li><i class="fa fa-search"></i></li>
			<li>Sort</li>
			<li>Show</li>
		</ul>
	</div>
	<div class="section_content">
		<%= render partial: "lead_thumbnail", :locals => {:first_name => "Marky", :last_name => "Mark", :has_address => true, :has_rooftop => false, :has_utility => true}%>
		<%= render partial: "lead_thumbnail", :locals => {:first_name => "Barry", :last_name => "Bonilla", :has_address => false, :has_rooftop => false, :has_utility => false}%>
		<%= render partial: "lead_thumbnail", :locals => {:first_name => "Jimmy", :last_name => "The Rat", :has_address => true, :has_rooftop => true, :has_utility => false}%>
	</div>
	<div class="object_detail">
		<p>This is expanded in-depth information about this lead</p>
		<p>Here are some possible actions to take</p>
		<p>Here is more info, or something else perhaps...</p>
		<p>Here is a way to close this...</p>
	</div>
</section>

<section id="dashboard_customers">
	<div class="section_header">
		<h2>Your leaves</h2>
		<ul>
			<li><i class="fa fa-search"></i></li>
			<li>Sort</li>
			<li>Show</li>
		</ul>
	</div>
	<div class="section_content">
		<% (13).times do |i| %>
		  <div class="customer_thumbnail">
		  	<p>This is a customer...</p>
		  </div>
		<% end %>
	</div>
</section>

<section id="dashboard_payments">
	<div class="section_header">
		<h2>Your Fruit</h2>
		<ul>
			<li><i class="fa fa-search"></i></li>
			<li>Sort</li>
			<li>Show</li>
		</ul>
	</div>
	<div class="section_content">
		<% (4).times do |i| %>
		  <div class="customer_thumbnail">
		  	<p>This is a customer...</p>
		  </div>
		<% end %>
	</div>
</section>

<section class="generic_section">

	<p>
		Your permanent customer referral page is <a href="/customer/signup/#1234">http://www.mysolar.com/1234</a>.
		<br/>
		<a href="#">Invite a new customer!</a>
	</p>

	<p>
		Your permanent promoter referral page is <a href="/promoter/signup/#4321">http://www.mysolar.com/4321</a>.
		<br/>
		<a href="#">Invite a new promoter!</a>
	</p>

</section>