<% if params[:first_run] == "true" %>
	<div id="system_feedback">
		<h1>Way to go! You're now a Sunstand promoter!</h1>
		<p>Help us reach our global goals of neutralizing the carbon footprint of 4 million people and getting solar into 2 million homes by 2025.</p> 
		<p>Here's how it works...</p>
		<div class="system_feedback_graphic dev_img_placeholder">[find customers graphic]</div>
		<div class="system_feedback_graphic dev_img_placeholder">[recruit promoters graphic]</div>
		<div class="system_feedback_graphic dev_img_placeholder">[change the world graphic]</div>

	</div>
<% else %>

<% end %> 


<section id="dashboard_kpis" class="dashboard_section">

	<div class="section_header">
		<h2>Impact Overview</h2>
		
		<% if params[:first_run] == "true" %>

		<% else %>

			<ul>
				<li> 
					<%= select_tag "Show", options_for_select(
						[
							"1st forks", 
						    "2nd forks", 
						    "3rd forks",
						    "All forks"
						], ["1st fork"]) 
					%>
				</li>
			</ul>

		<% end %> 

	</div>
	<div class="section_content">

		<% if params[:first_run] == "true" %>

			<div class="blank_state">
				You don't have any metrics yet. <a href="#">Invite a fellow promoter</a> or <a href="#">add a customer lead</a> to watch your impact grow.
			</div>

		<% else %>

			<div class="kpi" onclick="detailExpander('tree_co2_detail');">
				<div class="thumbnail_graphic dev_img_placeholder">[smokestack graphic]</div>
				<h3>32 metric tons</h3>
				<span class="subtext">CO2 Saved</span>
				<i class="fa fa-angle-down"></i>
			</div>

			<div class="kpi" onclick="detailExpander('tree_equivalents_detail');">
				<div class="thumbnail_graphic dev_img_placeholder">[forrest graphic]</div>
				<h3>1 small forrest</h3>
				<span class="subtext">Impact Equivalent</span>
				<i class="fa fa-angle-down"></i>
			</div>

			<div class="kpi" onclick="detailExpander('tree_customer_detail');">
				<div class="thumbnail_graphic dev_img_placeholder">[house graphic]</div>
				<h3>421 Homes</h3>
				<span class="subtext">14,258 kWh</span>
				<i class="fa fa-angle-down"></i>
			</div>

			<div class="kpi" onclick="detailExpander('tree_team_detail');">
				<div class="thumbnail_graphic dev_img_placeholder">[data graphic]</div>
				<h3>32 Team Members</h3>
				<span class="subtext">93 in my organization</span>
				<i class="fa fa-angle-down"></i>
			</div>

			<div class="kpi" onclick="detailExpander('tree_volume_detail');">
				<div class="thumbnail_graphic dev_img_placeholder">[data graphic]</div>
				<h3>$32,450 Volume</h3>
				<span class="subtext">Down 5% this week</span>
				<i class="fa fa-angle-down"></i>
			</div>

		<% end %>

	</div>

	<%= render partial: "shared/tree_co2_detail"%>

	<%= render partial: "shared/tree_equivalents_detail"%>

	<%= render partial: "shared/tree_customer_detail"%>

	<%= render partial: "shared/tree_team_detail"%>

	<%= render partial: "shared/tree_volume_detail"%>

</section>

<section id="dashboard_leads" class="dashboard_section">
	<div class="section_header">
		<h2>Your Leads</h2>

		<% if params[:first_run] == "true" %>

		<% else %>

			<ul>
				<li class="search"><i class="fa fa-search"></i></li>
				<li>
					<%= select_tag "Sort", options_for_select(
						[
							"By newest", 
						    "By oldest", 
						    "By most complete", 
						    "By least complete"
						], ["By newest"]) 
					%>
				</li>
			</ul>

		<% end %>
	</div>
	<div class="section_content">

		<% if params[:first_run] == "true" %>

			<div class="blank_state">
				You don't have any leads yet. <a href="#">Add a customer lead</a> to get started.
			</div>

		<% else %>

			<%= render partial: "shared/lead_thumbnail", :locals => {:first_name => "Marky", :last_name => "Mark", :has_address => true, :has_rooftop => false, :has_utility => true}%>
			<%= render partial: "shared/lead_thumbnail", :locals => {:first_name => "Barry", :last_name => "Bonilla", :has_address => false, :has_rooftop => false, :has_utility => false}%>
			<%= render partial: "shared/lead_thumbnail", :locals => {:first_name => "Jimmy", :last_name => "The Rat", :has_address => true, :has_rooftop => true, :has_utility => false}%>
		
		<% end %>

	</div>

		<% if params[:first_run] == "true" %>

		<% else %>

			<div class="section_notification positive">
				<a href="#">This is a positive notification about Mr. Mark - click to go to a new page...</a>
				<span class="dismiss"><i class="fa fa-times"></i></span>
			</div>

		<% end %>
	<%= render partial: "shared/invite_detail"%>

</section>

<section id="dashboard_team" class="dashboard_section">
	<div class="section_header">
		<h2>Your Promoters</h2>

		<% if params[:first_run] == "true" %>

		<% else %>

			<ul>
				<li class="search"><i class="fa fa-search"></i></li>
				<li>
					<%= select_tag "Sort", options_for_select(
						[
							"By latest", 
						    "By earliest", 
						    "By highest", 
						    "By lowest"
						], ["By latest"]) 
					%>
				</li>
			</ul>
		
		<% end %>

	</div>
	<div class="section_content">

		<% if params[:first_run] == "true" %>

			<div class="blank_state">
				You don't have any team members yet. <a href="#">Invite a fellow promoter</a> to grow your team.
			</div>

		<% else %>

			<%= render partial: "shared/team_thumbnail"%>

		<% end %>

	</div>

</section>

<section id="dashboard_pages" class="dashboard_section">
	<div class="section_header">
		<h2>Your Pages</h2>
	</div>
	<div class="section_content">

		<% if params[:pro] == "true" %>

			<%= render partial: "shared/new_link_thumbnail" %>
			<%= render partial: "shared/link_thumbnail", :locals => {:campaign_title => "March Facebook Post", :url => "sunstand.com/1234", :total_hits => "12,472", :start_date => "3/1/14"}%>
			<%= render partial: "shared/link_thumbnail", :locals => {:campaign_title => "February Email Blast", :url => "sunstand.com/4321", :total_hits => "840", :start_date => "2/16/14"}%>

		<% else %>

			<%= render partial: "shared/page_thumbnail", :locals => {:page_title => "For Customers", :url => "/1234"}%>

			<%= render partial: "shared/page_thumbnail", :locals => {:page_title => "For Promoters", :url => "/4321"}%>

			<div class="blank_state">
				<p>These are static pages that you can share with others.</p>
				<p>To generate custom url's for tracking campaigns, <a href="#">upgrade to Pro</a>.</p>
			</div>

		<% end %>

	</div>
	<%= render partial: "shared/new_link_detail"%>
</section>
