<% content_for :javascript_includes do %>
	<%= javascript_include_tag "quote.js", "data-turbolinks-track" => true %> %>
<% end %>

<div class="customer_banner">
	<h3>$0 down and no installation fees</h3>
	<h3>Save 10-30% on your monthly electric bill</h3>
	<h3>Reduce your environmental impact</h3>
</div>

<section class="customer_content">

	<form id="customer_signup" class="signup_form one">
		<fieldset class="contact_info js-multi_form_fieldset js-contact_info" disabled>
			<div class="form_sidebar">
				<span class="step_label">
					<span>
						<i class="fa fa-envelope"></i><br/>
						Step<br/>
						One
					</span>
				</span>
			</div>
			<legend>Contact Info</legend>
			<span class="form_row half ">
				<!--<span class="js-error">Required</span>-->
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" placeholder="First Name">
			</span>
			<span class="form_row half">
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" placeholder="Last Name">
			</span>
			<span class="form_row">
				<label for="email">Email</label>
				<input type="text" name="email" placeholder="Email Address">
			</span>
			<span class="form_row ">
				<label for="phone">Phone</label>
				<input type="text" name="phone" placeholder="Phone Number">
			</span>
			<fieldset class="actions">
				<button class="button js-multi_form_submit" id="step_one">Save Contact Info</button>
			</fieldset>
		</fieldset>
		<fieldset class="form_section address js-multi_form_fieldset js-home_info" disabled>
			<div class="form_sidebar">
				<span class="step_label">
					<span>
						<i class="fa fa-home"></i><br/>
						Step<br/>
						Two
					</span>
				</span>
			</div>
			<legend>Home Info</legend>
			<span class="form_row">
				<label for="address">Street Address & Unit#</label>
				<input type="text" name="address" placeholder="Street">
			</span>
			<span class="form_row">
				<label for="city">City</label>
				<input type="text" name="city" placeholder="City">
			</span>
			<span class="form_row half">
				<label for="state">State</label>
				<%= select_tag "state", options_for_select(
				[
					"Alabama",
					"Alaska",
					"Arizona",
					"Arkansas",
					"California",
					"Colorado",
					"Connecticut",
					"Delaware",
					"District of Columbia",
					"Florida",
					"Georgia",
					"Hawaii",
					"Idaho",
					"Illinois",
					"Indiana",
					"Iowa",
					"Kansas",
					"Kentucky",
					"Louisiana",
					"Maine",
					"Maryland",
					"Massachusetts",
					"Michigan",
					"Minnesota",
					"Mississippi",
					"Missouri",
					"Montana",
					"Nebraska",
					"Nevada",
					"New Hampshire",
					"New Jersey",
					"New Mexico",
					"New York",
					"North Carolina",
					"North Dakota",
					"Ohio",
					"Oklahoma",
					"Oregon",
					"Pennsylvania",
					"Puerto Rico",
					"Rhode Island",
					"South Carolina",
					"South Dakota",
					"Tennessee",
					"Texas",
					"Utah",
					"Vermont",
					"Virginia",
					"Washington",
					"West Virginia",
					"Wisconsin",
					"Wyoming"
			], ["Alabama"])
				%>
			</span>
			<span class="form_row half">
				<label for="zip">Zip</label>
				<input type="text" name="zip" placeholder="Zipcode">
			</span>

			<span class="form_row half">
				<label for="roof_material">Roof Type</label>
				<%= select_tag "roof_material", options_for_select(
				[
					"Thatch",
					"Shingle",
					"Ceramic",
					"Membrane Roofing",
					"Metal",
					"Concrete or Fiber Cement"
			], ["Shingle"])
				%>
			</span>
			<span class="form_row half">
				<label for="roof_age">Roof Age</label>
				<select id="roof_age" name="roof_age" placeholder="Roof Age" >
					<option value="0~5">New</option>
					<option value="5~10">5 to 10 Years</option>
					<option value="10~20">10 to 20 Years</option>
					<option value="20~30">20 to 30 Years</option>
					<option value="30+">More than 30 Years</option>
				</select>	
			</span>
			<fieldset class="actions">
				<button class="button js-multi_form_submit" id="step_two">Save Home Info</button>
			</fieldset>
		</fieldset>
		<fieldset class="utility js-multi_form_fieldset js-util_info" disabled>
			<div class="form_sidebar">
				<span class="step_label">
					<span>
						<i class="fa fa-bolt"></i><br/>
						Step<br/>
						Three
					</span>
				</span>
			</div>
			<legend>Utiltity Info</legend>
			<span class="form_row half">
				<label for="provider">Utility Provider</label>
				<%= select_tag "provider", options_for_select(
				[
					"PG&E",
					"SoCal Edison",
					"Alameda Municiple Power",
					"Bear Valley Electric",
					"SCPPA"
				], ["PG&E"])
				%>
			</span>
			<span class="form_row half">
				<label for="bill">Estimated Monthly Bill</label>
				<input type="text" name="bill" placeholder="Estimated Monthly Bill">
			</span>
			<fieldset class="actions">
				<button class="button js-multi_form_submit" id="step_three">Save Utility Info</button>
			</fieldset>


		</fieldset>

		<!--
		<fieldset class="phone_info js-multi_form_fieldset" disabled>
			<div class="form_sidebar">
				<span class="step_label">
					<span>
						<i class="fa fa-phone"></i><br/>
						Step<br/>
						Four
					</span>
				</span>
			</div>
			<legend>Phone Number</legend>				
			<span class="form_row half">
				<label for="phone">Phone</label>
				<input type="text" name="phone" placeholder="Phone Number">
			</span>
			<span class="form_row half">
				<label for="time">Best Time to Call</label>
				<%= select_tag "time", options_for_select(
				[
					"Mornings",
					"Afternoons",
					"Evenings",
				], ["Mornigns"])
				%>
			</span>
			<fieldset class="actions">
				<button class="button js-multi_form_submit" id="step_one">Finish</button>
			</fieldset>
		</fieldset>
		-->

	</form>

</section>
