<% content_for :javascript_includes do %>
	<%= javascript_include_tag "dashboard.js" %>
	<%#= javascript_include_tag "kevins_shitty_javascript.js" %>
<% end %>

<style>
	.full{
		overflow: hidden;
	}
	.promoter_info.contact{
		padding:32px 32px 0 0;
		margin: 0 0 0 32px;
	}

	.drilldown_content_section{
		margin: 0 0 0 250px;
		width:1006px;
	}


	.quotes_info{
		background-color:#fff;
		margin:0 8px;
		width:1262px;
		border:1px solid #e5e5e5;
	}
</style>

<% if params[:first_run] == "true" %>
	<div id="system_feedback">
		<h1>Way to go! You're now a Sunstand advocate!</h1>
		<p>This is your dashboard and you will come to find this space to be the home of your solar business!</p>
		<p>To help you make sense for the rest of the dashboard, please first go through the <a href="">Shine Certification</a></p>
		<p><a href="">Shine Certification</a> is FREE and can be found under the <a href="">SunStand U</a>
		<br><br>
	</div>
<% else %>
<% end %> 

<section id="dashboard_personal_goals" class="dashboard_section" data-drilldown-level="0" style="margin-top:-100px;">
	<div class="section_header">

		<div class="section_header_content">

			<div class="section_label">
				<div class="tag"></div>
				<div class="text">Pay Period Goals</div>
			</div>

		</div>
	</div>

	<div class="section_body">
		<div class="section_content">
			<div id="goal_meters">
				<div id="personal_sales" class="meter_container">
					<div class="labels"></div>
					<div class="highlight_container">
						<div class="highlight"></div>
					</div>
				</div>
				
				<div id="group_sales" class="meter_container">
					<div class="highlight_container">
						<div class="highlight"></div>
					</div>
					<div class="labels flip"></div>

				</div>

			</div>
			<div class="section_legend">
				<div class="team"></div>
				<span>Group Sales</span>
				<div class="you"></div>
				<span>Personal Sales</span>
			</div>
			<div class="next_rank" style="float:right;font-size:14px; text-transform:uppercase; line-height:24px;margin-top:-10px;padding-right:8px;">
			</div>

		</div>
	</div>
</section>


<section id="dashboard_kpis" class="dashboard_section" data-drilldown-level="0">
	<div class="section_header">

		<div class="section_header_content">
			<div class="section_label">
				<div class="tag"></div>
				<div class="text">Key performance index</div>
			</div>

		
		</div>
	</div>

	<div class="section_body">
		<div class="section_content">

			<% if params[:first_run] == "true" %>
				<div class="blank_state">
					You don't have any metrics yet. <a onclick="detailExpander('invite_detail', 'Invite');">Invite a fellow advocate</a> or <a href="#">add a customer quote</a> to watch your impact grow.
				</div>
			<% else %>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type1">
					<div class="js-thumbnail">
						<h1 id="co2_saved" class="metrics_number"><span>0</span></h1>
						<h3>Tons of C0<sub>2</sub> Saved</h3>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_environment_detail"%>
					<% end %>

				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type2">
					<div class="js-thumbnail">
						<h1 id="quotes_created" class="metrics_number"><span>0</span></h1>
						<h3>Rooftops</h3>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>
					<% if false %>
						<%= render partial: "shared/kpi_customer_detail"%>
					<% end %>
				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type3">
					<div class="js-thumbnail">

						<h1 id="team_members" class="metrics_number"><span>0</span></h1>
						<h3>Team Members</h3>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_team_detail"%>
					<% end %>

				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type4">
					<div class="js-thumbnail">
						<h1 id="total_earning" class="metrics_number"><span>0</span></h1>

						<h3>Dollars Earned</h3>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_volume_detail"%>
					<% end %>

				</div>

				<div class="kpi_thumbnail js-thumbnail_parent" data-kpi-type="type5">
					<div class="js-thumbnail">
						<h1 id="daily_streaks" class="metrics_number"><span>0</span></h1>
						<h3>Daily Streaks</h3>
						<span class="expand">
							<i class="fa fa-angle-down"></i>
						</span>
					</div>

					<% if false %>
						<%= render partial: "shared/kpi_rank_detail"%>
					<% end %>

				</div>

			<% end %>

		</div>
	</div>
</section>

<section id="dashboard_quotes" class="dashboard_section" data-drilldown-level="0">
	<div class="section_header" >
		<div class="section_header_content">
			<div class="section_label">
				<div class="tag"></div>
				<div class="text">My Customer Queue </div>
			</div>

			<select id="quote_sort" name="quote_sort">
				<option value="created">Order by Date</option>
				<option value="customer">Order by Name</option>
			</select>

			<select>
				<option>With No Filter</option>
				<option>And Show Submitted Quotes Only</option>
				<option>And Show Incomplete Quotes Only</option>
				<option>And Show Approved Quotes Only</option>
			</select>

			<input type="search" class="section_search js-search_box" id="quote_search" name="quote_search" placeholder="search quotes" data-search-source="u/quotes" />
			

		</div>
	</div>

	<div class="section_body">
		<div class="section_content quotes_info">

				<%= render partial: "shared/new_quote_thumbnail"%>
				<div class="pagination_container" data-comment="required for pagination - do not remove">

					<div class="nav left"><i class="fa fa-angle-left"></i></div>
					<div class="pagination_content">
						<p class="blank_state">
						You don't have any quotes yet.
						<br/><i class="fa fa-arrow-left"></i>&nbsp; Add a quotes</a> to get started.
						</p>

					</div>
					<div class="nav right"><i class="fa fa-angle-right"></i></div>
				</div>


		</div>

	</div>
</section>

<section id="dashboard_team" class="dashboard_section" data-drilldown-level="0">
	<div class="section_header">
		<div class="section_header_content">
			<div class="section_label">
				<div class="tag"></div>
				<div class="text">My Team</div>
			</div>

			<% if params[:first_run] == "true" %>
			<% else %>

			<%= select_tag "Level", options_for_select(
				[
					"Order By Ranks", 
				    "Order By Quotes Created",
				    "Order By New Recuits"
				], ["Order By Ranks"]),
				{ :class => 'title_select' }
			%>

				<%= select_tag "Show", options_for_select(
					[
						"Of All Time", 
					    "In Current Pay Period Week",
					    "In Current Pay Period Month"
					], ["In Current Pay Period Month"]) 
				%>

				<input type="search" class="section_search js-search_box" placeholder="search team" data-search-source="u/users"/>

				<!--<span class="collection_total">17 total</span>-->

			<% end %>

		</div>
	</div>

	<div class="section_body">
			
		<div class="section_content team_info">
			<div class="new_thumbnail js-thumbnail_parent js-invites_thumbnail">
				<div class="js-thumbnail" >
					<span class="placeholder_avatar">
						<span class="js-remaining_invitations"></span>
					</span>
					<span>Invites Available</span>
					<span class="subtext js-expired_invitations"></span>
					<span class="expand">
						<i class="fa fa-angle-down"></i>
					</span>
				</div>
			</div>

			<div class="pagination_container" data-comment="required for pagination - do not remove">

			<% if params[:first_run] == "true" %>

				<div class="blank_state">
					You don't have any quotes yet. <a href="#">Add a customer lead</a> to get started.
				</div>
			
			<% else %>

				<div class="nav left"><i class="fa fa-angle-left"></i></div>
				<div class="pagination_content">
					<p class="blank_state">
					You don't have any team members yet.
					<br/><i class="fa fa-arrow-left"></i>&nbsp; Invite a fellow advocate</a> to grow your team.
					</p>

				</div>
				<div class="nav right"><i class="fa fa-angle-right"></i></div>

			<% end %>
			</div>

		</div>
	</div>
</section>

<br><br><br>

<!--
<% if params[:first_run] == "true" %>
<% else %>

	<section id="dashboard_payments" class="dashboard_section">
		<div class="section_header">
			<div class="section_header_content">

				<%= select_tag "Level", options_for_select(
					[
						"My Earnings", 
					    "Level 2 Earnings",
					    "Level 3 Earnings",
					    "Level 4 Earnings",
					    "Level 5 Earnings",
					    "Level 6 Earnings",
					    "Total Earnings"
					], ["My Earnings"]),
					{ :class => 'title_select' }
				%>

				<%= select_tag "Level", options_for_select(
					[
						"Past month", 
					    "Past 3 months",
					    "Past 6 months",
					    "Past year",
					    "All time"
					], ["Past month"]),
					{ :class => 'title_select' }
				%>

			</div>
		</div>

		<div class="section_body">
			<div class="section_content">
				<%= render partial: "shared/payment_thumbnail", :locals => {:id => "1", :amount => "$2,345", :mail_date => "4/1/14", :has_mailed => false}%>
				<%= render partial: "shared/payment_thumbnail", :locals => {:id => "2", :amount => "$1,234", :mail_date => "3/23/14", :has_mailed => true}%>
				<%= render partial: "shared/payment_thumbnail", :locals => {:id => "3", :amount => "$789", :mail_date => "3/16/14", :has_mailed => true}%>
			</div>
		</div>
	</section>

<% end %>

<section id="dashboard_pages" class="dashboard_section">
	<div class="section_header">
		<div class="section_header_content">
			<h2 class="section_title">Your Pages</h2>
		</div>
	</div>

	<div class="section_body">
		<div class="section_content">

			<% if params[:pro] == "true" %>

				<%= render partial: "shared/new_link_thumbnail" %>
				<%= render partial: "shared/link_thumbnail", :locals => {:campaign_title => "March Facebook Post", :url => "sunstand.com/1234", :total_hits => "12,472", :start_date => "3/1/14"}%>
				<%= render partial: "shared/link_thumbnail", :locals => {:campaign_title => "February Email Blast", :url => "sunstand.com/4321", :total_hits => "840", :start_date => "2/16/14"}%>

			<% else %>

				<%= render partial: "shared/page_thumbnail", :locals => {:page_title => "For Customers", :url => "/1234"}%>
				<%= render partial: "shared/page_thumbnail", :locals => {:page_title => "For Promoters", :url => "/4321"}%>

				<div class="blank_state hide">
					<p>This is a static page that you can share with others.</p>
					<p>To generate custom url's for tracking campaigns, <a href="/upgrade">upgrade to Pro</a>.</p>
				</div>

			<% end %>

		</div>
 		<%= render partial: "shared/new_link_detail"%>
 	</div>
</section>

-->
	