<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dashboard.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "kpi.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "dashboard-topper.js", "data-turbolinks-track" => true %>
<% end %>

<style>

  .dashboard_section {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  }
  .full{
    overflow: hidden;
  }
  .promoter_info.contact{
    padding:32px 32px 0 0;
    margin: 0 0 0 32px;
  }

  .drilldown_content_section{
    margin: 0 0 0 0;
    width:1006px;
  }


  .quotes_info{
    background-color:#fff;
    margin:0 8px;
    width:1262px;
    border:1px solid #e5e5e5;
  }
  .fa-angle-down::before,
  .fa-angle-up::before{
    opacity:.3;
    display:block;
  }
</style>

<% if params[:first_run] == "true" %>
  <div id="system_feedback">
    <h1>Way to go! You're now a Powur advocate!</h1>
    <p>This is your dashboard and you will come to find this space to be the home of your solar business!</p>
    <p>To help you make sense for the rest of the dashboard, please first go through the <a href="">Shine Certification</a></p>
    <p><a href="">Shine Certification</a> is FREE and can be found under the <a href="">Powur U</a>
    <br><br>
  </div>
<% else %>
<% end %>

<div class="aw-spinner">
  <div class="aw-bounce1"></div>
  <div class="aw-bounce2"></div>
  <div class="aw-bounce3"></div>
</div>
<section id="dashboard_personal_goals" class="dashboard_section aw-db-topper-background aw-fade-in" data-drilldown-level="0" style="margin-top:-100px;">
  <div class="section_header">
    <div class="section_header_content">
    <!-- Legacy: Leave this section because it positions the Dashboard Topper at the right distance from the navbar -->
    </div>
  </div>

  <div class="section_body">
    <div class="section_content" style="overflow:hidden;">
      <!-- Row: The main Dashboard Topper -->
      <div class="row aw-fade-in">
        <!-- Welcome Section -->
        <div class="small-8 large-8 columns">
          <!-- Row: Photo and Name/Quote -->
          <div class="row"> 
            <!-- Photo -->
            <div class="small-3 large-3 columns">
              <img id="aw-avatar" class="aw-round-image" src="<%= image_path("temp_dev_images/Tim.jpg") %>">
            </div>
            <!-- Name and Motivational Quote --> 
            <div class="aw-bump-40 small-9 large-9 columns">
              <span class="left aw-name">Welcome, <span id="aw-first-name"></span></span>
              <br>
              <span class="left aw-motivational-quote">The world needs you.</span>
            </div>
          </div>
          <!-- Row: Pay Period Goals --> 
          <div class="row">
            <span class="left aw-label aw-bump-40">Your Pay Period Goals</span>
            <div class="small-10 large-10 columns">
              <div class="row">
                <div id="goal_meters" class="aw-bump-25">
                  <div id="personal_rooftops" class="meter_container">
                    <div class="highlight_container">
                      <div class="highlight">
                        <div class="aw-tooltip aw-tt-above"><span id="personal_rooftops_tooltip" class="aw-tooltip-text"></span></div>
                      </div>
                    </div>
                  </div>
                  <div id="group_rooftops" class="meter_container">
                    <div class="highlight_container">
                      <div class="highlight">
                        <div class="aw-tooltip aw-tt-below"><span id="group_rooftops_tooltip" class="aw-tooltip-text"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Badge --> 
            <div class="small-2 large-2 columns">
              <img class="aw-badge" src="<%= image_path("badges/rank1.png") %>">
            </div>
          </div>
          <div class="section_legend">
            <div class="personal"></div>
            <span class="aw-label personal_rooftops">Personal Rooftops</span>
            <br>
            <div class="group"></div>
            <span class="aw-label group_rooftops">Group Rooftops</span>
          </div>
        </div>
        <!-- News Section --> 
        <div id="aw-news" class="small-4 large-4 columns">
          <!-- Row: News Label -->
          <div class="row">
            <div class="small-12 large-12 columns">
              <span class="left aw-label">Latest News</span>
            </div>
          </div>
          <div id="aw-news-notifications">

          </div>
          <!-- Row: News Pagination -->
          <div class="row">
            <div class="small-12 large-12 columns">
              <span class="aw-news-pagination"><a href="#"><i class="fa fa-caret-left"></i></a> <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#"><i class="fa fa-caret-right"></i></a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-12 columns">
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Quote to Share Section -->
<div class="aw-fade-in aw-darker-bg">
  <!-- Row: Quote to Share -->
  <div class="row">
    <div class="aw-share-quote small-12 large-12 columns">
      <span class="aw-share-quote"></span>
    </div>
  </div>
  <!-- Row: Share Links -->
  <div class="row">
    <div class="aw-share-links">
      <span class="aw-share-links">Share this </span>
      <a href="#"><i class="fa fa-twitter-square fa-fw fa-2x aw-blue-share-link"></i></a>
      <a href="#"><i class="fa fa-facebook-square fa-fw fa-2x aw-blue-share-link"></i></a>
    </div>
  </div>
</div>

<section id="dashboard_kpis" class="dashboard_section" data-drilldown-level="0">
  <div class="section_header">

    <div class="section_header_content">
      <div class="section_label">
        <div class="tag"><img src="/images/dashboard/kpi_icon.png"></div>
        <div class="text">Key performance indicators</div>
      </div>


    </div>
  </div>

  <div class="section_body">
    <div class="section_content">

      <% if params[:first_run] == "true" %>
        <div class="blank_state">
          You don't have any metrics yet. <a onclick="detailExpander('invite_detail', 'Invite');">Invite a fellow advocate</a> or <a href="#">add a customer quote</a> to watch your impact grow.
        </div>
      <% else %>

        <div class="kpi_thumbnail js-thumbnail_parent noselect" data-kpi-type="environment">
          <div class="js-thumbnail">
          <div class="arrow"></div>
            <h1 class="kpi_value"><span>XX</span></h1>
            <h3 class="kpi_label">No Data</h3>
            <span class="expand">
              <i class="fa fa-angle-down"></i>
            </span>
          </div>

            <%#= render partial: "shared/kpi_environment_detail"%>

        </div>

        <div class="kpi_thumbnail js-thumbnail_parent noselect" data-kpi-type="conversion">
          <div class="js-thumbnail">
          <div class="arrow"></div>
            <h1 class="kpi_value"><span>XX</span></h1>
            <h3 class="kpi_label">No Data</h3>
            <span class="expand">
              <i class="fa fa-angle-down"></i>
            </span>
          </div>
          <% if false %>
            <%= render partial: "shared/kpi_customer_detail"%>
          <% end %>
        </div>

        <div class="kpi_thumbnail js-thumbnail_parent noselect" data-kpi-type="genealogy">
          <div class="js-thumbnail">
          <div class="arrow"></div>
            <h1 class="kpi_value"><span>XX</span></h1>
            <h3 class="kpi_label">No Data</h3>
            <span class="expand">
              <i class="fa fa-angle-down"></i>
            </span>
          </div>

          <% if false %>
            <%= render partial: "shared/kpi_team_detail"%>
          <% end %>

        </div>

        <div class="kpi_thumbnail js-thumbnail_parent noselect" data-kpi-type="earnings">
          <div class="js-thumbnail">
          <div class="arrow"></div>
            <h1 class="kpi_value"><span>XX</span></h1>
            <h3 class="kpi_label">No Data</h3>
            <span class="expand">
              <i class="fa fa-angle-down"></i>
            </span>
          </div>

          <% if false %>
            <%= render partial: "shared/kpi_volume_detail"%>
          <% end %>

        </div>

        <div class="kpi_thumbnail js-thumbnail_parent noselect" data-kpi-type="hot_quotes">
          <div class="js-thumbnail" >
          <div class="arrow"></div>
            <h1 class="kpi_value" style="margin:0px"><img id="header-badge" src="/images/dashboard/rank1.png" style=""/></h1>
            <h3 class="kpi_label">No Data</h3>
            <span class="expand">
              <i class="fa fa-angle-down"></i>
            </span>
          </div>

          <% if false %>
            <%= render partial: "shared/kpi_rank_detail"%>
          <% end %>

        </div>

      <% end %>

    </div>
  </div>
</section>

<section id="dashboard_quotes" class="dashboard_section" data-drilldown-level="0">
  <div class="section_header" >
    <div class="section_header_content">
      <div class="section_label">
        <div class="tag"><img src="/images/dashboard/customers_icon.png"></div>
        <div class="text">My Customers Queue </div>
      </div>

      <select id="quote_sort" name="quote_sort">
        <option value="created">Order by Date</option>
        <option value="customer">Order by Name</option>
      </select>
      <!--
      <select>
        <option>With No Filter</option>
        <option>And Show Submitted Quotes Only</option>
        <option>And Show Incomplete Quotes Only</option>
        <option>And Show Approved Quotes Only</option>
      </select>
      -->

      <input type="search" class="section_search js-search_box" id="quote_search" name="quote_search" data-search-source="u/quotes" />


    </div>
  </div>

  <div class="section_body">
    <div class="section_content quotes_info">

        <%= render partial: "shared/new_quote_thumbnail"%>
        <div class="pagination_container" data-comment="required for pagination - do not remove">

          <div class="nav left"><i class="fa fa-angle-left"></i></div>
          <div class="pagination_content">
            <p class="blank_state">
            You don't have any quotes yet.
            <br/><i class="fa fa-arrow-left"></i>&nbsp; Add a quotes</a> to get started.
            </p>

          </div>
          <div class="nav right"><i class="fa fa-angle-right"></i></div>
        </div>


    </div>

  </div>
</section>

<section id="dashboard_team" class="dashboard_section level_0" data-drilldown-level="0">
	<div class="section_header">
		<div class="section_header_content">
			<div class="section_label">
				<div class="tag"><img src="/images/dashboard/team_icon.png"></div>
				<div class="text">My Team</div>
			</div>

			<% if params[:first_run] == "true" %>
			<% else %>

			<select id="performance_metric" name="team_metric">
				<option value="quotes">Order By Quote</option>
				<option value="personal">Order By Personal Sales</option>
				<option value="group">Order By Group Sales</option>
			</select>
			<select id="performance_period" name="team_period">
				<option value="lifetime">In Lifetime</option>
				<option value="monthly">In Current Monthly Pay Period</option>
				<option value="weekly">In Current Weekly Pay Period</option>
			</select>
			<input id="team_search" type="search" class="section_search js-search_box" data-search-source="u/users"/>

				<!--<span class="collection_total">17 total</span>-->

			<% end %>

		</div>
	</div>

	<div class="section_body">

		<div class="section_content team_info top_level">
			<div class="new_thumbnail js-thumbnail_parent js-invites_thumbnail">
				<div class="js-thumbnail">
					<span class="placeholder_avatar">
						<span class="js-remaining_invitations"></span>
					</span>
					<span>Invites Available</span>
					<span class="subtext js-expired_invitations"></span>
					<span class="expand">
						<i class="fa fa-angle-down"></i>
					</span>
				</div>
			</div>

			<div class="pagination_container" data-comment="required for pagination - do not remove">

			<% if params[:first_run] == "true" %>

				<div class="blank_state">
					You don't have any quotes yet. <a href="#">Add a customer lead</a> to get started.
				</div>

			<% else %>

				<div class="nav left"><i class="fa fa-angle-left"></i></div>
				<div class="pagination_content">
					<p class="blank_state">
					You don't have any team members yet.
					<br/><i class="fa fa-arrow-left"></i>&nbsp; Invite a fellow advocate</a> to grow your team.
					</p>

				</div>
				<div class="nav right"><i class="fa fa-angle-right"></i></div>

			<% end %>
			</div>

		</div>
	</div>
</section>
<br>
<br>
<br>

<div class="link-icon"></div>

<br><br><br>
