<powur-left-menu control="leftMenu"></powur-left-menu>

<div class="pow-landing-wrapper" ng-class="{'active': leftMenu.isActive}">
  <ng-include src="'shared/header-signed-out.html'"></ng-include>

  <main class="pow-promo pow-create-wealth-page">

    <div class="pow-fixed-bg pow-bg-1" id="anchor_1">
      <div class="pow-promo-intro">
        <div class="row">
          <h1>Powur is the world's first solar business in the palm of your hand.</h1>
          <p>Tap into the unlimited income potential of the next great energy boom happening right now.</p>
          <a class="button dim" ng-click="gotoAnchor('dim_the_lights')">Dim the lights to continue</a>
        </div>
      </div>
    </div>

    <div class="pow-bg-6 scroll-slide-2" id="dim_the_lights">
      <div class="row pow-promo-content pow-promo-dim">
        <div class="large-6 columns">
          <h2>The <div class="highlighted">greatest transfer of wealth</div> in human history has begun.</h2>
        </div>

        <div class="large-6 columns">
          <div class="video-player-wrapper"></div>
        </div>

        <div class="large-12 columns">
          <p>Solar is a $120 billion dollar annual market in the U.S, with <span class="highlighted">less than 1% installed</span>. The growth remaining will create <u>unmitigated</u> wealth for people who take action.  Powur gives you the tools to do your part in reversing climate change, while building an income that is just as sexy as it’s impact.</p>
        </div>

        <div class="large-12 alt-large-12 columns pow-promo-slider-wrapper">
          <h5>Drag the $ across to ‘You’ to continue:</h5>

          <div class="slider-inner">
            <slider floor="0" ceiling="50" step="1" precision="0" ng-model="slider" translate="sliderOnChange"></slider>
            <img class="image-1" src="<%= asset_path('promo/slider-item-1.png') %>" />
            <img class="image-2" src="<%= asset_path('promo/slider-item-2-hidden.png') %>" />
          </div>
        </div>
      </div>
    </div>

    <div class="pow-scrolling-bg pow-bg-3" id="on_slider_move">
      <div class="row pow-promo-content pow-promo-slide-3">
        <div class="large-4 small-12 columns">
          <img class="optional" src="<%= asset_path("promo/image-placeholder.jpg") %>" />
          <div class="clock">
            {{solarTimerHours}}:{{solarTimerMinutes}}<div class="highlighted">:{{solarTimerSeconds}}</div>
          </div>
          <p ng-if="solarTimerPeople"><span class="highlighted">{{solarTimerPeople}}</span> <i ng-if="solarTimerPeople > 1">homes</i><i ng-if="solarTimerPeople <= 1">home</i> has gone solar with SolarCity since you started viewing this page.</p>
          <p ng-if="!solarTimerPeople">Someone is about to go solar.</p>
        </div>

        <div class="large-8 small-12 columns">
          <h5>The case for solar</h5>
          <span>With a record breaking 200,000 installations in 2014, solar is hitting critical mainstream capacity because:</span>
          <h2>It saves money.<br />It's simple.</h2>
          <span class="small">With new installations at an all-time high, SolarCity is converting a new home to solar energy every <b>three minutes</b>. A variety of entry points and financing options have made it easy for homeowners to go solar and <b>save money</b>, But many qualifying homeowners don’t know how much they can save.</span>
          <hr />
          <span class="big">That's where you come in.</span>
        </div>
      </div>
    </div>

    <div class="pow-bg-4">
      <div class="row pow-promo-content pow-promo-slide-4">
        <div class="large-6 columns">
          <img src="<%= asset_path("promo/browser-and-phone.png") %>" />
        </div>

        <div class="large-6 columns">
          <h5>Distribution. We solved it.</h5>
          <span>Powur has created the <b>FIRST</b> peer to peer model, and platform, that allows <b>YOU</b> to tap into the income potential of this exploding megatrend.</span>
        </div>

        <div class="large-12 columns slide-4-extra">
          <span>SOLAR IS READY TO SCALE MAINSTREAM, AND THERE ARE</span>
          <h4>Billions of<br />dollars</h4>
          <span>READY TO CHANGE HANDS FOR THOSE WHO PLAY A ROLE IN DISTRIBUTION.</span>
        </div>
      </div>
    </div>

    <div class=".scroll-slide-3 scroll-slide-3 pow-bg-3 " >
      <div class="row pow-promo-content pow-promo-slide-5">
        <div class="large-12 columns">
          <h4>How it works</h4>
          <span>Powur has built state-of-the-art technology to facilitate the distribution of solar in a way the world hasn't seen before.</span>
          <br />
          <br />
          <span class="big">All you need to do, is take action.</span>
        </div>

        <div class="clearfix"></div>

        <div class="selections-wrapper">
          <div class="large-4 small-12 columns selection-1">
            <h5>1. <b>Sign-up free</b></h5>
            <br />
            <span>No strings attached</span>
          </div>

          <div class="large-4 small-12 columns selection-2">
            <h5>2. <b>Share</b></h5>
            <br />
            <span>Use our tools to share solar with your friends.</span>
          </div>

          <div class="large-4 small-12 columns selection-3">
            <h5>3. <b>Earn</b></h5>
            <br />
            <span>The more clean energy you create, the more you earn.</span>
          </div>
        </div>
      </div>
      <div class="scroll-down">
      <span class="optional">KEEP SCROLLING DOWN TO SIGN UP FOR FREE</span>
      </div>
    </div>

    <div class="pow-bg-6">
      <div class="row pow-promo-content pow-promo-slide-6">
        <img class="screen-with-zoom optional" src="<%= asset_path("promo/screen-with-zoom.png") %>" />
        <div class="large-3 small-12 columns">
          &nbsp;
        </div>

        <div class="large-8 small-12 columns slide-6-extra">
          <h4>Earn an extra $1,000 your first 30 days starting a business with Powur.</h4>
          <span>Getting started is free, & easy.  Simply register to become a Powur advocate.  Then, we’ll pair you with the business coach who invited you here to discuss your next steps.  Powur has pioneered a brand new model for you to share solar energy with the people you care about, and build a sustainable, generous income from the comfort of your home.</span>

          <a class="button btn-green" ng-href="/sign-up/{{inviteCode}}">Sign Up Free</a>
          <br />
          <span class="small">Questions? Contact Jonathan Budd on 123 456 789 to find out more.</span>
        </div>
      </div>
      <ng-include src="'shared/footer.html'"></ng-include>
    </div>
  </main>
</div>
