<powur-left-menu control="leftMenu"></powur-left-menu>

<div class="pow-landing-wrapper" ng-class="{'active': leftMenu.isActive}">

  <ng-include src="'shared/header-signed-out.html'"></ng-include>

  <main class="pow-promo pow-our-origin-page">

    <div class="pow-origin-story-bg">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="text-center">Our origin story</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-2 columns">&nbsp;</div>

      <div class="large-8 columns">
        <div class="row">
          <div class="large-12 columns">
            <img class="origin-people" src="<%= asset_path('promo/origin-story-people.jpg') %>" />

            <p><b>In 2011, I went on a journey to  the Amazon rain forest, to spend time with an indigenous culture called the “Achuar” with two of my mentors, Lynne & Bill Twist from the Pachamama Alliance.</b></p>
            <p>At home, I was the CEO of Empowered Entrepreneurs, and I was on a rocket ride of success having grown my company to more than 100,000 customers around the globe and established what many told me was an iconic image in the direct marketing industry. Bill and Lynne had invited me to the jungle to show me the work they were doing to help create a better world for all.</p>
            <blockquote>During a ceremony with one of the Achuar’s elder leaders I saw Powur. Sitting under the stars, in the jungle, it hit me like a bolt of lightning through the top of my head.</blockquote>
            <p>I was spiritually told that, no matter what, I had to figure out how to start the first solar energy company for the network marketing / direct marketing industry. The message was too clear, too direct to ignore. I didn't have the skills necessary to start a solar company, but when I got home from that trip, life began "schooling" me.</p>
            <p>Life has a way of helping you grow into the skills you will later need to accomplish your mission, and rather quickly after the the jungle, my business led me into the world of enterprise level technology, gamification, start ups & venture capital - in hindsight, everything I needed to gain the experience needed to execute the vision for Powur.</p>
            <p>At the same time, the solar industry evolved rapidly. The missing pieces necessary for solar to go mainstream came online, from financing, to cost reduction, to manufacturing, & installation capacity - and solar exploded!</p>
          </div>

          <div class="medium-4 columns">
            <img class="our-origin-ico optional-small" src="<%= asset_path('promo/our-origin-ico-1.png') %>" />
          </div>

          <div class="medium-4 columns">
            <img class="our-origin-ico optional-small" src="<%= asset_path('promo/our-origin-ico-2.png') %>" />
          </div>

          <div class="medium-4 columns">
            <img class="our-origin-ico" src="<%= asset_path('promo/our-origin-ico-3.png') %>" />
          </div>

          <div class="large-12 columns">
            <p>At the end of 2013, I committed to walk away from anything that wasn’t the vision I was given in that jungle, to help create a sustainable energy future for life on this planet.</p>
            <p>I knew Powur was my life’s work, and it needs to be done if humanity is going to thrive.</p>
            <p>The result, is the opportunity we all have in front of us now to make history, return power back to the people, and build incredible businesses that free us to BE and DO what our heart most desires in life.  I’m so glad you’re here.</p>

            <div class="signature">
              <h3>Welcome to Powur.</h3>
              <img src="<%= asset_path('promo/signature.png') %>" />
              <p><b><span>Jonathan Budd</span></br>Founder & CEO</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="large-2 columns">&nbsp;</div>
    </div>

    <ng-include src="'shared/footer.html'"></ng-include>

  </main>
</div>
