
  <div id="<%= id %>_thumbnail" class="payment_thumbnail js-thumbnail" onclick="detailExpander('<%= id %>');">
    
    <% if has_mailed == true %>
  
        <%= amount %>
        <span class="subtext">Deposited on <%= mail_date %></span>
  
      <% else %>
  
        <%= amount %> and climbing!
        <span class="subtext">Scheduled for <%= mail_date %></span>
  
    <% end %>
    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

    <div id="<%= id %>_detail" class="object_detail">
      <div class="object_detail_content">
        <div class="object_detail_content_section summary">
          <h4><%= amount %></h4>
          <span class="subtext">foo</span>
        </div>
        <div class="object_detail_content_section">
          A form for completing the quote goes here...
        </div>
      </div>
    </div>

  </div>