<div id="<%= first_name %>_thumbnail" class="quote_thumbnail js-thumbnail" onclick="detailExpander('<%= first_name %>');">

  	<%= first_name %> <%= last_name %>

    <span class="subtext">
    	<% if has_address == true %>
    		<i class="fa fa-check"></i>
  	  	<% else %>
  	  	<i class="fa fa-times"></i>
    	<% end %>
    	Address
    </span>

    <span class="subtext">
    	<% if has_rooftop == true %>
    		<i class="fa fa-check"></i>
  	  	<% else %>
  	  	<i class="fa fa-times"></i>
    	<% end %>
    	Roof info
    </span>

    <span class="subtext">
    	<% if has_utility == true %>
    		<i class="fa fa-check"></i>
  	  	<% else %>
  	  	<i class="fa fa-times"></i>
    	<% end %>
    	Utility Bill
    </span>
    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

    <div id="<%= first_name %>_detail" class="object_detail">
      <div class="object_detail_content">
        <div class="object_detail_content_section summary">
          <h4><%= first_name %> <%= last_name %></h4>
          <span class="subtext">foo</span>
        </div>
        <div class="object_detail_content_section">
          A form for completing the quote goes here...
        </div>
      </div>
    </div>

  </div>