<% Branch.all.each do |b| %>

  <div class="team_thumbnail">
    <span class="advocate_avatar" style="background-image: url(<%= image_path('temp_dev_images/' + b.first_name + '.jpg') %>)"></span>
    <br/>
    <%= b.first_name %> <%= b.last_name %>
    <span class="subtext">
      <%= b.rank %>
      <span class="badge"><%= b.quotes %></span>
<!--       <br/><%= b.quotes %> <i class="fa fa-file"></i>
      &nbsp; <%= b.sales %> <i class="fa fa-home"></i>
      &nbsp; <%= b.recruits %> <i class="fa fa-user"></i> -->
  </span>
    <span class="expand">
      <i class="fa fa-angle-down"></i>
    </span>

  </div>

<% end %>
