<div id="tree_team_detail" class="object_detail dev-hack_for_arrow_placement_tree_team">
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>Branches Overview</h4>
			<span class="subtext">Branches are your team members. Each new team member grows your organization and your earnings.</span>
			<br/>
			<span class="subtext">
				<a href="/training">Tips for growing your team ></a>
			</span>
			<span class="subtext">
				<a href="#">Show all branches ></a>
			</span>
		</div>
		<div class="object_detail_content_section double">
			<h4>Top Earners</h4>

			<% Branch.find([1,2]).each do |b| %>
			  <div class="team_thumbnail">
			    <span class="advocate_avatar" style="background-image: url(<%= image_path('temp_dev_images/' + b.first_name + '.jpg') %>)"></span>
			    <br/>
			    <%= b.first_name %> <%= b.last_name %>
			    <span class="subtext">
	    	      <%= b.rank %>
	    	      <% if b.quotes != "0" %>
				      <span class="badge"><%= b.quotes %> New</span>
				  <% end %>
<!-- 			      <br/><%= b.quotes %> <i class="fa fa-tint"></i>
			      &nbsp; <%= b.sales %> <i class="fa fa-leaf"></i>
			      &nbsp; <%= b.recruits %> <i class="fa fa-pagelines"></i> -->
			  	</span>
			    <span class="expand">
			      <i class="fa fa-angle-down"></i>
			    </span>
			  </div>
			<% end %>
		</div>
		<div class="object_detail_content_section">
			<h4>A graph goes here...</h4>
		</div>
	</div>
</div>

