<ng-include src="'<%=asset_path("shared/left-menu.html") %>'"></ng-include>

<div class="sun-landing-wrapper" ng-class="{'active': isMenuActive}" >
  <ng-include src="'<%=asset_path("shared/header-signed-out.html") %>'"></ng-include>

  <main class="sun-promo" id="pagepiling">

    <div class="sun-scrolling-bg sun-fixed-bg sun-bg-7 section inverted sun-promo-energy-slide-1" id="anchor_1">
      <div class="sun-promo-intro">
        <div class="row">
          <h1>For <div class="highlight-1">$0 UPFRONT</div>, you can generate your own electricity from solar.</h1>
          <p>Not only will it lower your electricity bill, it is 100% clean and renewable energy your grandkids will thank you for.</p>
          <a class="button watch" ng-click="gotoAnchor('anchor_2')">Watch how</a>
        </div>
      </div>
      <div class="arrow-box inverted tuck" id="arrow_1">
        <i class="fa fa-chevron-down fa-3x"></i>
      </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-3 section sun-promo-energy-slide-3" id="anchor_2">
      <div class="row sun-promo-content">
        <div class="large-12 columns">
          <h2>Goodbye dirty energy, <div class="highlighted">Hello sunshine.</div></h2>
        </div>

        <div class="large-3 columns">
          <div class="sunrun-icon-wrapper"></div>
          <span class="optional">More than 200,000 customers have gone solar with SolarCity.</span>
        </div>

        <div class="large-9 columns alt-large-9">
          <span>Powur is putting power back in the hands of the people, literally. We’ve partnered with the world’s most innovative and pioneering solar company, SolarCity, to deliver you cheaper power that costs nothing out of pocket, and is 100% carbon free.</span>
          <br />
          <br />
          <b>Each time a new homeowner goes solar through Powur and SolarCity, you change the world in these simple, yet profound ways:</b>
        </div>

        <div class="large-12 columns sun-promo-slider-wrapper">
          <h5>Drag the $ across to ‘You’ to continue:</h5>

          <div class="slider-inner">
            <slider floor="0" ceiling="50" step="1" precision="0" ng-model="slider" translate="sliderOnChange"></slider>
            <img class="image-1" src="<%=asset_path('promo/slider-item-1.1.png')%>" />
            <img class="image-2" src="<%=asset_path('promo/slider-item-2.1-hidden.png')%>" />
          </div>

          <span class="optional">If you’re having problems, <a ng-click="gotoAnchor('on_slider_move')">click here to continue</a>.</span>
        </div>
      </div>
      <div class="arrow-box"></div>
    </div>

    <div class="sun-scrolling-bg sun-bg-5 section sun-promo-energy-slide-6" id="on_slider_move">
      <div class="row sun-promo-content">
        <div class="large-4 small-12 columns">
          <div class="icon-placeholder"><div class="decentralize-icon-wrapper"></div></div>
          <h3>Decentralize energy production</h3>
          <span class="optional">SolarCity decentralizes energy production, meaning you produce your own power from your own rooftop. This lessens your dependence on utility monopolies and the grid. Utilities charge us more money every year, and if the grid goes down, we go down.</span>
        </div>

        <div class="large-4 small-12 columns">
          <div class="icon-placeholder"><div class="pocket-wallet-icon-wrapper"></div></div>
          <h3>Money in your pocket</h3>
          <span class="optional">SolarCity puts more money back in your pocket, right where it belongs. Every year the cost of energy increases. Do you know Americans spend an average of $80 billion dollars MORE in discretionary income per year on energy, than we did just 20 years ago? That’s a lot of money that should still be in our pockets, and with solar, it will be.</span>
        </div>

        <div class="large-4 small-12 columns">
          <div class="icon-placeholder"><div class="pollution-icon-wrapper"></div></div>
          <h3>Stop carbon pollution</h3>
          <span class="optional">No more carbon pollution. Scientists have warned we are in uncharted territory. Rapid release of C02 into the atmosphere is changing the very climate of this planet, causing record temperatures, drought, and rising sea levels. If we don’t find a different source of energy than fossil fuels, we are leaving a legacy of destruction for future generations. It’s time to change.</span>
        </div>
      </div>
      <div class="arrow-box" id="arrow_3">
        <span class="optional">WHAT'S IN IT FOR YOU?</span>
        <i class="fa fa-chevron-down fa-3x"></i>
      </div>
    </div>

    <div class="sun-bg-9 section inverted" id="anchor_4">
      <div class="sun-promo-content sun-promo-energy-slide-4">
        <div class="row">
          <div class="large-4 columns left-part">
            <div class="left-bg"></div>
            <div class="inner-content">
              <h1>What's in it for you?</h1>
              <p>We thought you’d never ask. Solar is simply one of the BEST decisions a homeowner can make today. Over two thirds of the homes in this country can get their electricity more cost effectively from solar than coal, and that’s not some distant future… it’s now. If you qualify for $0 down financing, the switch to solar is literally FREE.</p>
            </div>
          </div>

          <div class="large-8 columns slide-show-wrapper right-part optional">
            
            <div class="right-bg"></div>
            <div class="inner-content">
              <i class="fa fa-chevron-left fa-1x" ng-class="{{slideToggleClass}}" ng-click="navigateSlideShow(currentSlide, 'left')"></i>
              <i class="fa fa-chevron-right fa-1x" ng-class="{{slideToggleClass}}" ng-click="navigateSlideShow(currentSlide, 'right')"></i>
              <div ng-repeat="slide in slides">
                <div class="slide-show-inner" ng-class="{'active': currentSlide === slides.indexOf(slide)}">
                  <img ng-repeat="img in slide.images" class="image" ng-src="{{img}}" />
                  <div class="clearfix"></div>
                  <p>{{slide.text}}</p>
                </div>
              </div>
<!--               <div class="slide-show-dots">
                <a ng-repeat="slide in slides" ng-class="{'active': currentSlide === slides.indexOf(slide)}" ng-click="stopSlideShowOn(slide)"></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="arrow-box inverted"  id="arrow_4">
          <i class="fa fa-chevron-down fa-3x"></i>
        </div>
      </div>

    </div>

    <div class="sun-scrolling-bg sun-bg-3 section" id="anchor_5">
      <div class="row sun-promo-content sun-promo-energy-slide-5">
        <div class="row">
          <div class="large-4 columns">
            <img class="sun-logo-wrapper" src="<%=asset_path('powur-blue-logo.png')%>" />
          </div>
          <div class="large-8 small-12 columns">
            <h3 class="uppercase highlight-1"><b>What's the Powur difference?</b></h3>
          </div>
        </div>
        <div class="row right-part">
          <div class="large-4 columns">
            <div class="clearfix"></div>
            <img class="stock-photo optional-small" src="<%=asset_path('promo/image-1.jpg')%>" />
          </div>
          <div class="large-8 small-12 columns">
            <h3 class="uppercase"><b>Cheaper, cleaner power</b></h3>
            <hr class="shorty" />
            <h2><b>Referred to you by<br />a trusted friend.</b></h2>
            <p>At Powur, we are doing our part to share solar. We recognize the biggest gap is new homeowners discovering solar from someone they can trust. That’s why we created our advocate program, and why we partnered with the #1 solar company in America.</p>
            <p>Through Powur, you get the reliability of a billion dollar solar provider, coupled with the assistance of someone you know & trust.</p>
          </div>
        </div>
      </div>
      <div class="arrow-box"  id="arrow_5">
        <span>WHAT'S NEXT?</span>
        <i class="fa fa-chevron-down fa-3x"></i>
      </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-8 section inverted" id="anchor_6">
      <div class="sun-promo-intro">
        <div class="row">
          <h1>Join the revolution to take back your power.</h1>
          <h5>Contact the person who referred you to Powur.</h5>
          <p>Get a quote  to see if you can save money, and our planet by going solar.<br />It costs nothing, and you’ll know quickly if this is the right choice for you.</p>
        </div>
      </div>
      <ng-include src="'<%=asset_path("shared/footer.html") %>'"></ng-include>
    </div>


  </main>

  <div class="guide">
    <div ng-repeat="dot in dots" class="dot" ng-class="{'active': dot.active}" id='dot1' ng-click="clickSlideDot(dots.indexOf(dot))"></div>
  </div>
</div>
