<% content_for :javascript_includes do %>
	<%# javascript_include_tag "profile.js" %>
<% end %>

<style>
	.edit_user input
	{
		width:300px;
		padding:5px;
		margin:7px;
	}

	.edit_user label
	{
		position: relative;
	}

	.user_field
	{
		position: relative;
		display:block;
		margin:0;
	}
</style>

<section id="profile_kpis" class="profile_section" data-drilldown-level="0">

	<div class="section_header">
		<div class="section_header_content">
			<p>Profile Section Header</p>
		
		</div>
	</div>

	<div class="section_body">
		<div class="section_content">
		<!-- SECTION CONTENT -->
				
		<!-- SECTION HEADER -->
		<h3>USER:	</h3>
			<h3><%= @user.first_name %></h3>
			<h3><%= @user.last_name %></h3>
			<h3><%= @user.phone %></h3>
			<h3><%= @user.email %></h3>	
		</div>


		<section id="user_content" class="reset_password">

		    <h3>Reset Password</h3>

		    <form id="user_update_password_form" class="js-password_update_form" method="POST" action="/u/profile/update_password">
		    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
		    	<span class="form_row">
		            <label for="current_password">Current Password</label>
		            <input id="current_password" name="current_password" type="password" placeholder="Current Password" required>
		        </span>

		        <span class="form_row">
		            <label for="new_password">New Password</label>
		            <input id="new_password" name="new_password" type="password" placeholder="New Password" required>
		        </span>

		        <span class="form_row">
		            <label for="new_password_confirm">Confirm Password</label>
		            <input id="new_password_confirm" name="new_password_confirm" type="password" placeholder="Ne Password Confirm Password" required>
		        </span>

		        <button class="button">Submit</button>
		    </form>
		</section>

	</div>
	
</section>

	