<% content_for :javascript_includes do %>
	<% javascript_include_tag "profile.js" %>
<% end %>

<style>
	body{
		font-family: 'Varela Round', sans-serif;
	}

	.edit_user input
	{
		padding:5px;
		margin:7px;
		margin-left:0px;
	}
	#user_avatar{
		font-family: "Varela Round", sans-serif;
		opacity: 0;
		display:block;
		margin:auto;
		float:none;
		max-width: 100px;
		clear:both;
	}

	#avatar-container input[type=submit],
	.data_content section .content input[type=submit]{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 8px 16px;
		font-size: 13.33333px;
		line-height: 16px;
		text-transform: uppercase;
		font-family: "Varela Round", sans-serif;
		display: block;
		width: 100%;
		vertical-align: baseline;
		-webkit-border-top-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		border-top-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		border-bottom-right-radius: 4px;
		clear: both;
		margin:auto;
		margin-top: 8px;
		float: none;
		clear: none;
		height:50px;
		background: #20c2f1;
		border: 1px solid #16bff0;
		color: white;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		transition: all .25s ease-in-out;
	}
	.data_content section .content input[type=submit]{
		float:left;
	}

	.user_field
	{
		position: relative;
		display:block;
		margin:0;
	}
	.summary{
		width:216px;
		padding:32px;
		float:left;
		min-height:300px;
	}
	.data_content{
		width:900px;
		padding:32px;
		height:auto;
		border-left:1px solid #ccc;
		float:left;
	}
	.data_content>section{
		background:#fff;
		border:1px solid #ccc;
	}
	.data_content section .header{
		width:inherit;
		height: 35px;
		background: #333;
		color:#eee;
		text-transform: capitalize;
		text-align: left;
		padding:5px 0px 5px 30px;
		line-height: 36px;
		font-size:18px;
	}
	.data_content section .sub_header{
		text-align: left;
		color:#000;
		font-size:16px;
	}

	.data_content section .content{
		color:#ccc;
		text-align: left;
		padding:5px 30px 5px 30px;
		text-align: left;
		height:auto;
	}
/*	.data_content section .content::after{
		 padding-top: 6.25%;  percentage of containing block _width_
		  display: block;
		  content: '';
  	}*/
	.data_content section .content label {
		font-size: 12px;
		text-transform: uppercase;
		color: #999999;
		float:left;
		display:block;
		margin:7px;
		top:5px;
		text-align:left;
		width:auto;
		position:absolute;
		left:0px;

	}
	.data_content section .content input,
	.data_content section .content textarea  {
		padding-top:18px;
		padding-left:6px;
		border-radius: 0px;
		height:50px;
		float:left;
		display:block;
		font-size:16px;
		color:#333;

	}

	.data_content section .content textarea {
		padding:30px 5px 5px 5px;
		font-family: Muli, sans-serif;
		font-size: 20px;
		background-color: rgba(0, 0, 0, 0.0784314);
		resize: none;
		outline: none;
		width:837px;
		border: 1px solid rgba(0, 0, 0, 0.08);
		min-height: 200px;
	}
	.data_content section .content textarea:focus,
	.data_content section .content input:focus{
		background:#d6d6d6;
		border:#b3b3b3;
	}

	.data_content section .content .form_element{
		display:block;
		position: relative;
		width:410px;
		float:left;
		margin-right:20px;
		overflow: hidden;
	}
	.data_content section .content .form_element.full{
		width:100%;
	}
	.data_content section .content .form_element.half{
		width:48.62%;
	}
	.data_content section .content .form_element.quarter{
		width:23.4%;
	}
	.data_content section .content .form_element.end{
		margin-right: 0px;
	}



	#avatar-container {

		text-align:center;
	}

	#avatar-container img {
		width:150px;
		display: block;
		margin:auto;
		text-align:left;
		border:1px solid #fff;
		border-radius:200pt;

	}

	#avatar-container input {
		border:1px solid #ddd;
		float:left;
	}

	#upload-avatar-submit {
		width: 100px;
		height:32px;
		padding:0px;

	}

	#submit-contact
	{
		style:none;
	}

	.section_content
	{
		overflow:inherit;
	}

	.section_content label
	{
		margin:0;
		padding:0;
	}

	#sidebar {
		width:250px;
		display:block;
		float:left;
	}

	#user_remove_avatar {
		width:75px;
	}
	section{
		overflow: hidden;
	}
	h3{
		float:left;
	}
</style>

<section class="dashboard_section" >

	<div class="section_body">
		<div class="section_content">


			<div class="summary" id="sidebar">
				<section>
					<div id="avatar-container" class="form_element half">
					<!--<h4>File Name:<%= @user.avatar_file_name %></h4>-->

						<% if @user.avatar_file_name %>
							<img src="<%= @user.image_url %>" id="user_profile">
						<%else%>
							<img src="/temp_dev_images/Tim.jpg" id="user_profile">
						<% end %>
						<%= form_for @user, remote:true, :url => update_avatar_profile_path, :html => { :multipart => true, :'data-type' => 'json' } do |form| %>
						  <% @user.errors.full_messages.each do |msg| %>
				   		 <li><%= msg %></li>
				  <% end %>
						<%= token_tag %>

						  <%= form.file_field :avatar %>
						  <%= form.hidden_field :avatar_file_name %>
						  <%= form.hidden_field :avatar_content_type %>
						  <%= form.hidden_field :avatar_file_size %>
						  <%= form.hidden_field :avatar_updated_at %>
						  <%= form.submit "Upload Photo" ,id: "submit-photo" %>
						<% end %>
					</div>
				</section>
			</div>


			<div class="data_content">

				<section class="basic_info" style="padding-bottom:30px;">
					<div class="header">Personal Info</div>
					<div class="content">
						<section>
							<br>
							<h3>Contact info</h3>

							<%= form_for @user, remote: true, :url => url_for(:controller => 'profile', :action => 'update'), :html => { :'data-type' => 'json'} do |f| %>
						    <div class='form_element half'>
						    		<label for="user_first_name">First Name</label>
						    		<%= f.text_field :first_name %>
						    </div>
				  			<div class='form_element end'>
				  				<label for="user_last_name">Last Name</label>
				  				<%= f.text_field :last_name %>
				  			</div>
				  			<div class='form_element half'>
				  				<label for="user_email">Email</label>
				  				<%= f.email_field :email %>
				  			</div>
				  			<div class='form_element end'>
				  				<label for="user_phone">Phone</label>
				  				<%= f.text_field :phone %>
				  			</div>
						</section>

						<br>
						<section>
							<h3>Address</h3>
							<br style="clear:both;">
						    <div class='form_element half'>
						    		<label for="user_address" style="top:0;">Address</label>
						    		<%= f.text_field :address %>
						    </div>
				  			<div class='form_element end'>
				  				<label for="user_city" style="top:0;">City</label>
				  				<%= f.text_field :city %>
				  			</div>
				  			<div class='form_element half'>
				  				<label for="user_state" style="top:0;">State</label>
				  				<%= f.text_field :state %>
				  			</div>
				  			<div class='form_element end'>
				  				<label for="user_zip" style="top:0;">Zip</label>
				  				<%= f.text_field :zip %>
				  			</div>

						</section>
						<br>
						<section>
							<h3>More about you</h3>

						    <div class='form_element full'>
						    		<label for="user_first_name">Bio/Experience</label>
						    		<%= f.text_area :bio %>
						    </div>
				  			<div class='user_field'>
				  					<%= f.submit "Update Personal Info", id: "submit-update-bio" %>
				  			</div>

							<% end %>
						</section>

					</div>

				</section><!--end basic info -->


				<br><br>
				
				<section class="password" style="padding-bottom:30px;">
					<div class="header">Update Password</div>
					<div class="content">
						<br>
						<%= form_tag update_password_profile_path, remote: true do %>
						<div class="form_element half">
							<label for="current_password" style="top:0;">Current Password</label>
							<%= password_field_tag :current_password %>
						</div>
						<div class="form_element half end">
							<label for="new_password" style="top:0;">New Password</label>
							<%= password_field_tag :new_password %>
						</div>
						<div class="form_element half"> &nbsp;
						</div>
						<div class="form_element half end">
							<label for="new_password_confirm" style="top:0;">Confirm New Password</label>
							<%= password_field_tag :new_password_confirm %>
						</div>
						<div class="form_element full">
						<%= submit_tag "Update Password", id: "submit-update-password" %>
						</div>
					<% end %>
					</div>
				</section><!-- end password -->

			</div><!-- end data content -->
		</div><!--end section_content -->
	</div> <!-- end setction_body -->

</section><!--end dashboard_section -->


<script>
	$(document).ready(function(e){
		$("#submit-photo").on("click", function(e){
			e.preventDefault();
			$("#user_avatar").click();
		});

		$("#user_avatar").on("change", function(e) {
		    $(this).parent("form").submit();
		});

	})

</script>
