

<section id="dashboard_customers" class="dashboard_section">
	<div class="section_header">
		<h2>Your Customers</h2>
		<ul>
			<li class="search"><i class="fa fa-search"></i></li>
			<li>
				<%= select_tag "Sort", options_for_select(
					[
						"By top earnings", 
					    "By lowest earnings", 
					    "By energy saved", 
					    "By newest"
					], ["By top earnings"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">
		<%= render partial: "shared/customer_thumbnail", :locals => {:customer_name => "Ross Betsy", :kWh => "4,458", :total_fruit => "$4,587"}%>
		<%= render partial: "shared/customer_thumbnail", :locals => {:customer_name => "Jack Andrew", :kWh => "134", :total_fruit => "$147"}%>
		<%= render partial: "shared/customer_thumbnail", :locals => {:customer_name => "Frank Benjamin", :kWh => "487", :total_fruit => "$23"}%>
	</div>
	<div class="section_notification neutral js-expand_notification">
		This is a neutral notification about Jack - click to expand and see more...
		<span class="dismiss"><i class="fa fa-times"></i></span>
	</div>
<!-- 	<div class="fluid-wrapper">
		<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zkJJ8DsdQ4Zg.kDpcIzes3Bb0" width="640" height="480" scrolling="no" id="customer_map"></iframe>
	</div> -->

</section>

<section id="dashboard_team" class="dashboard_section">
	<div class="section_header">
		<h2>Your Branches</h2>
		<a href="#" class="button">New <i class="fa fa-pagelines"></i></a>
		<ul>
			<li class="search"><i class="fa fa-search"></i></li>
			<li>
				<%= select_tag "Sort", options_for_select(
					[
						"By latest", 
					    "By earliest", 
					    "By highest", 
					    "By lowest"
					], ["By latest"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">

		<%= render partial: "shared/team_thumbnail"%>

	</div>
	<div class="object_detail collapsed">
		<span class="dismiss"><i class="fa fa-times"></i></span>
		<h3>Thatch R. Margaret: Sapling</h3>
		<div class="object_detail second">
			<span class="dismiss"><i class="fa fa-times"></i></span>
			<div class="object_detail_content">
				<p>This is some in-depth information on Thatch R. Margaret, a member of Sherry Bailey's team. This is an example of drilling down through levels of information using vertical breadcrumbs.</p>
				<p>If we close this, the we go back up to some in-depth information about Sherry, perhaps. Or, if we want to drill down further, we can simple repeat this pattern as deep as we like - the user can always find there way back up through the levels, or close the whole thing without difficulty.</p>
			</div>
		</div>
	</div>
</section>

<section id="dashboard_pages" class="dashboard_section">
	<div class="section_header">
		<h2>Your Pages</h2>
		<a href="#" class="button">Invite Customer</a>
		<a href="#" class="button">Invite Promoter</a>
		<ul>
			<li> 
				<%= select_tag "Show", options_for_select(
					[
						"Past 24 hours", 
					    "Past week", 
					    "Past month", 
					    "All time"
					], ["Past 24 hours"]) 
				%>
			</li>
		</ul>
	</div>
	<div class="section_content">

		<div class="customer_page_kpis">
			<h3><a href="/customer/signup/#1234">Customer Referral Page</a></h3>

			<p>Unique visitors
				<br/>Visitors > leads
				<br/>Leads > Customers
				<br/>Top 3 referrers
			</p>
			
		</div>
		<div class="promoter_page_kpis">
			<h3><a href="/customer/signup/#4321">Promoter Referral Page</a></h3>

			<p>Unique visitors
				<br/>Visitors > promoters
				<br/>Top 3 referrers
			</p>
		</div>
	</div>
</section>
