<div class="drilldown_content hot_quote_kpi_drilldown">
  <div id="kpi_environment_detail" class="object_detail">

    <div class="object_detail_content_section">
      <span>Rank Achievements</span>
      <br>
        <div class="rank-columns" >
          <div class="rank-column">
            <span id="current-rank-header">Current Rank</span>
            <br>
            <img class="badge" id="current-rank" src="/assets/badges/rank{{this.currentUser.organic_rank}}.png"/>
          </div>
          <div class="rank-column">
            <span id="next-rank-header">Next Rank</span>
            <br>
            <img class="badge" id="next-rank" src="/assets/badges/rank{{math this.currentUser.organic_rank '+' 1}}.png"/>
          </div>
          <div class="rank-column">
            <span id="highest-rank-header">Highest Rank Achieved</span>
            <br>
            <img class="badge" id="highest-rank" src="/assets/badges/rank{{this.currentUser.lifetime_rank}}.png"/>
          </div>
        </div><!-- end rank-columns -->
        <span id="qualification-header">Qualifications</span>
        <div id="qualification-legend">
          <div class="legend-item" id="user-legend"></div>
          <span style="float:left">Personal</span>
          <div class="legend-item" id="global-legend"></div>
          <span style="float:left">Team</span>
          <div class="legend-item" id="extra-legend"></div>
          <span style="float:left">Max Leg</span>
        </div>

        <i class="fa fa-caret-left rank-caret-left"></i>
        <div class="progress-column" id="leading-progress-column">
           <div class="outer-radial-shell"></div>
           <div class="inner-radial-shell"></div>
           <canvas id="radialProgress1-1" class="outer-radial-bar" width="172" height="172"></canvas>
           <canvas id="radialProgress1-2" class="inner-radial-bar" width="139" height="139"></canvas>
           <div class="rank-number">
            <span>RANK</span>
            <br>
            <span>1</span>
           </div>
        </div>
        <div class="progress-column">
           <div class="outer-radial-shell"></div>
           <div class="inner-radial-shell"></div>
           <canvas id="progressChart2-1" class="outer-radial-bar" width="172" height="172" ></canvas>
           <canvas id="progressChart2-2"  class="inner-radial-bar" width="139" height="139"></canvas>
           <div class="rank-number">
            <span>RANK</span>
            <br>
            <span>2</span>
           </div>
        </div>
        <div class="progress-column">
           <div class="outer-radial-shell"></div>
           <div class="inner-radial-shell"></div>
           <div class="rank-number inactive-rank">
            <span style="margin-left:2px;">RANK</span>
            <br>
            <span>3</span>
           </div>
        </div>
        <i class="fa fa-caret-right rank-caret-right"></i>
      </div><!-- end object_detail_content_section -->

      <div class="object_detail_user_summary">
        <div class="swap-text-box">
          <span class="progress_description" id="members-tab">MEMBERS</span> <span class="progress_description" id="quotes-tab">HOT QUOTES</span>
          <a class="return_to_team"><i class="fa fa-bar-chart chart-icon"></i>  Return To Team Graph</a>
        </div>
        <div>
        </div>
        <div class="contributors"></div>
        <div class="hot-quotes"></div>
        <div class="scroll-arrows">
          <i class="fa fa-caret-up paginate-quote-up"></i><i class="fa fa-caret-down paginate-quote-down"></i>
          <i class="fa fa-caret-up paginate-user-up"></i><i class="fa fa-caret-down paginate-user-down"></i>
        </div>
      </div>
  </div><!-- end object_detail -->
</div><!-- end drilldown_content -->

<style>

</style>

<script type="text/javascript">
var userPosition = 0;
var quotePosition = 0;
var userPage = 1;
var quotePage = 1;

var data1 = [
    {
        value: 300,
        color:"rgba(32,194,241,1)",
        highlight: "rgba(32,194,241,1)",
        label: "Personal"
    },
    {
        value: 0,
        color: "#444",
        highlight: "#444",
        label: ""
    }
]

var data2 = [
    {
        value: 300,
        color:"rgba(253, 180, 92, 1)",
        highlight: "rgba(253, 180, 92, 1)",
        label: "Team"
    },
    {
        value: 50,
        color: "#FF5E27",
        highlight: "rgb(253,50,0)",
        label: "Max Leg"
    },
    {
        value: 70,
        color: "#666",
        highlight: "#666",
        label: ""
    }
]

var data3 = [
    {
        value: 300,
        color:"rgba(253, 180, 92, 1)",
        highlight: "rgba(32,194,241,1)",
        label: "Personal Progress"
    },
    {
        value: 0,
        color: "#444",
        highlight: "#444",
        label: ""
    }
]

var options = {
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : false,

    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",

    //Number - The width of each segment stroke
    segmentStrokeWidth : 4,

    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout : 85, // This is 0 for Pie charts

    //Number - Amount of animation steps
    animationSteps : 100,

    //String - Animation easing effect
    animationEasing : "easeOutExpo",

    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,

    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : false,

    //String - A legend template
    legendTemplate: "",

    showTooltips: false
}

setTimeout(function(){
$(".rank-number").fadeIn(1000)
var ctx = document.getElementById("radialProgress1-1").getContext("2d");
var myDoughnutChart = new Chart(ctx).Doughnut(data1,options);
var ctx = document.getElementById("progressChart2-1").getContext("2d");
var myDoughnutChart = new Chart(ctx).Doughnut(data1,options);
setTimeout(function(){
var ctx = document.getElementById("radialProgress1-2").getContext("2d");
var myDoughnutChart = new Chart(ctx).Doughnut(data3,options);
var ctx = document.getElementById("progressChart2-2").getContext("2d");
var myDoughnutChart = new Chart(ctx).Doughnut(data2,options);
},500)
},300)


function initQuoteKPI() {
  randomizeQuoteOrders();
  populateQuoteContributors();
  populateHotQuotes();
  checkQuotePage()
  checkUserPage()
}

function randomizeQuoteOrders() {
  if (_data.team.entities) {
    _data.team.entities.forEach(function(member) {
      member.properties.orders = Math.floor(Math.random() * 30 + 10)
    });
    _data.team.entities.forEach(function(member) {
      member.properties.quotes = Math.floor(Math.random() * 30 + 5)
    });
    _data.team.entities.forEach(function(member) {
      member.properties.avatar = randomAvatar()
    });
  }
}

function randomAvatar() {
  gender = ["men", "women"]
  return "http://api.randomuser.me/portraits/med/" + gender[Math.floor(Math.random() * 2)] + "/" + Math.floor(Math.random() * 97) + ".jpg"
}

function populateHotQuotes() {

  if(_data.quotes) {
    _hotQuotes = $(".hot-quotes");
    quotes = _data.quotes.entities
    quotes.forEach(function(quote) {
      _ajax({
        _ajaxType: "get",
        _url: "/u/quotes/" + quote.properties.id,
        _callback: function(data, text) {
            EyeCueLab.UX.getTemplate("<%=asset_path('hb_templates/_kpi_hot_quotes.handlebars.html')%>", data, undefined, function(html) {
            if ($('.hot-quote-box').length == (quotes.length)) $('.hot-quote-box').fadeIn()
            _hotQuotes.append(html);
          });
        }
      });
    });
  } else {
    // contributorQuoteEvents();
  }
}

function populateQuoteContributors() {
    switch (kpiType) {
      case "conversion":
        _template = "<%=asset_path('hb_templates/_kpi_conversion_team_thumbnail.handlebars.html')%>"
        break;
      case "genealogy":
        _template = "<%=asset_path('hb_templates/_kpi_genealogy_team_thumbnail.handlebars.html')%>"
        break;
      case "earnings":
        _template = "<%=asset_path('hb_templates/_kpi_total_earnings_team_thumbnail.handlebars.html')%>"
        break;
      case "hot_quotes":
        _template = "<%=asset_path('hb_templates/_kpi_hot_quotes_team_thumbnail.handlebars.html')%>"
        break;
    }
    if (_data.team.entities) {
      var _contributors = $(".contributors");
      top_ten = _data.team.entities.slice(0, 9)
      top_ten.forEach(function(member) {
        _ajax({
          _ajaxType: "get",
          _url: "/u/users/" + member.properties.id + "/downline",
          _callback: function(data, text) {
            member.properties.downline_count = data.entities.length;
            EyeCueLab.UX.getTemplate(_template, member, undefined, function(html) {
              if ($('.contributor').length == top_ten.length) contributorQuoteEvents();
              _contributors.append(html);
            });
          }
        });
      });
    } else {
      contributorQuoteEvents();
    }
  }
  // ** PAGINATION FOR USERS **
$('.paginate-user-down').on("click", function(e) {
  if ($(this).hasClass("active")) {
    userPage += 1;
    userPosition -= 435;
    animateContributors()
  };
});
$('.paginate-user-up').on("click", function(e) {
  if ($('.fa-caret-up').hasClass("active")) {
    userPage -= 1;
    userPosition += 435;
    animateContributors()
  };
});

$('.paginate-quote-down').on("click", function(e) {
  if ($(this).hasClass("active")) {
      quotePage += 1;
      quotePosition -= 432;
      animateQuotes()
    };
});
$('.paginate-quote-up').on("click", function(e) {
  if ($('.fa-caret-up').hasClass("active")) {
    quotePage -= 1;
    quotePosition += 432;
    animateQuotes()
  };
});


  $('#quotes-tab').on("click",function(){
    $('#members-tab').animate({backgroundColor: "#555"},100).animate({color:"#eee"},100);
    $('#quotes-tab').animate({backgroundColor: "#eee"},100).animate({color:"#444"},100);
    $(".contributors").hide()
    $(".hot-quotes").fadeIn()
    $(".paginate-user-up").hide()
    $(".paginate-user-down").hide()
    $(".paginate-quote-up").show()
    $(".paginate-quote-down").show()
  })
  $('#members-tab').on("click",function(){
    $('#quotes-tab').animate({backgroundColor: "#555"},100).animate({color:"#eee"},100);
    $('#members-tab').animate({backgroundColor: "#eee"},100).animate({color:"#444"},100);
    $(".hot-quotes").hide()
    $(".contributors").fadeIn()
    $(".paginate-user-up").show()
    $(".paginate-user-down").show()
    $(".paginate-quote-up").hide()
    $(".paginate-quote-down").hide()
  })


  function animateContributors(){
    checkUserPage();
    $('.contributor').each(function() {
      $(this).velocity({
      }, 100);
    })
    $('.contributor').each(function() {
      $(this).velocity({
        translateY: userPosition + "px"
      });
    })
  }

function animateQuotes(){
  checkQuotePage();
  $('.hot-quote-box').each(function() {
    $(this).velocity({
    }, 100);
  })
  $('.hot-quote-box').each(function() {
    $(this).velocity({
      translateY: quotePosition + "px"
    });
  })
}

function checkUserPage() {
  if (_data.team.entities) {
  page_total = _data.team.entities.length
  if (userPage === 1) {
    $('.paginate-user-up').css("opacity", "0.3").removeClass("active");
    if(page_total >= 5){
      $('.paginate-user-down').css("opacity", "1").addClass("active");
    } else {
      $('.paginate-user-down').css("opacity", "0,3").removeClass("active");
    }
  } else {
    $('.paginate-user-up').css("opacity", "1").addClass("active");
  }
  if (userPage >= (Math.ceil(page_total / 4))) {
    $('.paginate-user-down').css("opacity", "0.3").removeClass("active");
  }
  } else {
    $('.paginate-user-up').css("opacity", "0.3").removeClass("active");
    $('.paginate-user-down').css("opacity", "0.3").removeClass("active");
  }
}
function checkQuotePage() {
  if (_data.quotes) {
  page_total = _data.quotes.entities.length
  if (quotePage === 1) {
    $('.paginate-quote-up').css("opacity", "0.3").removeClass("active");
    if(page_total >= 4){
      $('.paginate-quote-down').css("opacity", "1").addClass("active");
    }
  } else {
    $('.paginate-quote-up').css("opacity", "1").addClass("active");
  }
  if (quotePage >= (Math.ceil(page_total / 4))) {
    $('.paginate-quote-down').css("opacity", "0.3").removeClass("active");
  }
  } else {
    $('.paginate-quote-up').css("opacity", "0.3").removeClass("active");
    $('.paginate-quote-down').css("opacity", "0.3").removeClass("active");
  }
}
  // ** END **
  // Runs after ajax returns 10 users
function contributorQuoteEvents() {

    $(".bar-one .inner-bar").progress();
    setInterval(function() {
      $(".bar-one .bar").progress();
    }, 500);
    $(".bar-two .bar").progress();
    $(".contributor")
      .fadeIn("slow")
  }
  // ** END **
initQuoteKPI()
</script>
