'use strict';

var sunstandApp = angular.module('sunstandApp', [
  'ngRoute',

  'sunstandControllers',
  'sunstandServices',

  // Directives
  'sunstandApp.fileS3Uploader'
]).run(['$rootScope', '$location', '$document', '$http', '$window', '$timeout', 'UserProfile',
  function ($rootScope, $location, $document, $http, $window, $timeout, UserProfile) {
    $rootScope.currentUser = {};
    $rootScope.isSignedIn = !!SignedIn;
    $rootScope.enrollmentRequirementMessage = 'Unlock your Powur dashboard by passing the F.I.T test in Powur U.';

    // Initialize Foundation JS on page load
    $timeout(function() {
      $(document).foundation();
    }, 500);

    $rootScope.redirectIfSignedIn = function() {
      if ($rootScope.isSignedIn) {
        if ($rootScope.currentUser && $rootScope.currentUser.require_enrollment) {
          $location.path('/university');
          $rootScope.showModal($rootScope.enrollmentRequirementMessage);
        } else {
          $location.path('/dashboard');
        }
      }
    };

    $rootScope.redirectUnlessSignedIn = function() {
      if (!$rootScope.isSignedIn) {
        $location.path('/sign-in');
      }
    };

    $rootScope.animateArrow = function(id,time){
      $timeout.cancel(pilerTimer);
      var element = $(".arrow-box")[id-1]
      var pilerTimer = $timeout(function() {
        $(element).show().animate({
          bottom: "20px"
        }, 500, "easeOutBounce" );
      }, time);

      $rootScope.$on('$locationChangeStart', function() {
        $timeout.cancel(pilerTimer);
      });
    };

    $rootScope.removePiler = function(){
      $('html').removeClass('piling-on');
      $('body').removeClass('no-scroll');
      $('#pp-nav').hide();
    };

    $rootScope.readyPiler = function(){
      $('html').addClass('piling-on');
      setTimeout(function() {
        $rootScope.pagePiler();
      }, 10);
    };

    $rootScope.pagePiler = function() {
      if($('#pagepiling').length === 0) return;
      $('#pagepiling').pagepiling({
        menu: null,
        direction: 'vertical',
        verticalCentered: true,
        sectionsColor: [],
        anchors: [],
        scrollingSpeed: 700,
        easing: 'swing',
        loopBottom: false,
        loopTop: false,
        css3: true,
        navigation: {
          'textColor': '#fff',
          'bulletsColor': '#333',
          'position': 'right',
          'tooltips': ''
        },
        normalScrollElements: null,
        normalScrollElementTouchThreshold: 5,
        touchSensitivity: 5,
        keyboardScrolling: true,
        sectionSelector: '.section',
        animateAnchor: false,
        //events
        onLeave: function(index, nextIndex, direction) {
          changeNavColor()
          $rootScope.animateArrow(nextIndex,1800);
          $rootScope.nextIndex = nextIndex;
          setTimeout(function(){
            if(nextIndex === 1) { $('.sun-header-guest').velocity("transition.slideUpBigOut", function(){
              $('.sun-header-guest').toggleClass("invert").show().velocity({ opacity: 1 }, 200);
            }) }
            if(nextIndex > 1 && !$('.sun-header-guest').hasClass("invert")) { $('.sun-header-guest').toggleClass("invert").velocity("transition.slideDownBigIn");}
            if(nextIndex === 3) { $rootScope.gif1Src = "<%= asset_path('landing/globe.gif') %>" }
            if(nextIndex === 4) { $rootScope.gif2Src = "<%= asset_path('landing/scales-grey.gif') %>" }
            if(nextIndex === 5) { $rootScope.gif3Src = "<%= asset_path('landing/hauzz.gif') %>" }
            if(nextIndex === 6) { $rootScope.gif4Src = "<%= asset_path('landing/flame-grey.gif') %>" }
            $rootScope.$apply();
            $('.gif'+index).removeClass('hidden')
          },650)
        },
        afterLoad: function(anchorLink, index) {
          // Removing tooltips (conflicts with foundation tooltips)
          $('#pp-nav li').removeAttr('data-tooltip');
          $(document).off('mouseenter', '#pp-nav li');

          animateActiveNav()
          $('#pp-nav').fadeIn('slow');
          $('#dim_the_lights').css('opacity','1');

        },
        afterRender: function(index) {
          $('#pp-nav').hide();
        }
      });

      if ($location.path() === "/create-wealth") {
        $.fn.pagepiling.setAllowScrolling(false);
      } else {
        $.fn.pagepiling.setAllowScrolling(true);
      }

      function animateActiveNav(){
        if($('.pp-section.active').hasClass('inverted')){
          $('#pp-nav').find('span').animate({backgroundColor:'transparent'},200);
          $('a.active').find('span').animate({backgroundColor:'#fff'},100);
          $.fn.pagepiling.updateColor('#fff')
        } else {
          $('#pp-nav').find('span').animate({backgroundColor:'transparent'},200);
          $('a.active').find('span').animate({backgroundColor:'#555'},100);
          $.fn.pagepiling.updateColor('#555')
        }
      }

      function changeNavColor() {
        if($('.pp-section.active').hasClass('inverted')){
          $('#pp-nav').find('span').animate({borderColor:'#fff'},200);
          $('a.active').find('span').css('background','#fff');
        } else {
          $('#pp-nav').find('span').animate({borderColor:'#555'},200);
          $('a.active').find('span').css('background','#555');
        }
      }
    };

    $rootScope.showModal = function(text, modalClass) {
      modalClass = modalClass || '';
      $('<div class=\'reveal-modal ' + modalClass + '\' data-reveal><h3>' + text + '</h3><a class=\'close-reveal-modal\'>&#215;</a></div>').foundation('reveal', 'open');
    };

    $rootScope.setupInvertHeader = function() {
      angular.element($window).bind("scroll", function() {
        var header = document.getElementById('sun_header_guest');
        if (header && header.className !== 'sun-header-guest invert') {
          header.setAttribute('class', 'sun-header-guest hidden');
          setTimeout(function invertHeader() {
            header.setAttribute('class', 'sun-header-guest invert');
          }, 200);
        }
      });
    };

    $rootScope.enableScrollDetect = function() {
      $(window).scroll(function () {
        var screenHeight = $(window).height() - ($(window).height() / 1.4)
        var scrollPos = $(window).scrollTop()
        if($('.sun-header-guest').hasClass("velocity-animating")) return;
        if(scrollPos < screenHeight && $('.sun-header-guest').hasClass("invert")) {
          $('.sun-header-guest').velocity("transition.slideUpBigOut", function(){
            $('.sun-header-guest').toggleClass("invert").show().velocity({ opacity: 1 }, 200);
          })
        }
        if(scrollPos > screenHeight && !$('.sun-header-guest').hasClass("invert")) {
          $('.sun-header-guest').toggleClass("invert").velocity("transition.slideDownBigIn");
        }
      });
    }

    $rootScope.isMenuLinkActive = function(path) {
      if(path === $location.path()) return true;
      return false;
    }

    $rootScope.signOut = function() {
      var cb = function() {
        $rootScope.isSignedIn = false;
        // window.location = '#/sign-in';
        $location.path('/sign-in');
      };
      $http.delete('/login.json', {
        xsrfHeaderName: 'X-CSRF-Token'
      }).success(cb).error(cb);
    };

    $rootScope.gotoAnchor = function(id) {
      if(id === 'dim_the_lights') $('body').css('background','#111')
      var duration = 500;
      var offset = 0; // pixels; adjust for floating menu, context etc
      // Scroll to #some-id with N px "padding"
      $('.sun-bg-1').animate({opacity: "0"}, 700 ,function(){
        var someElement = angular.element(document.getElementById(id));
        $document.scrollToElement(someElement, offset, duration);
        setTimeout(function(){
          $('body').css('background','transparent')
          //prevents users from getting stuck on second slide
          if(id === 'dim_the_lights') {
            $('.sun-bg-1').hide()
            $('body').scrollTop(0);
          }
          if(id === 'on_slider_move') {
            // $('body').css('background','transparent')
            $('.sun-bg-1').css('opacity','1').show();
            $(window).scrollTop($(".sun-promo-slide-3").offset().top)
            if($('body').css("overflow") !== "visible") {
              $('body').css('overflow','visible')
              $('.sun-header-guest').toggleClass("invert").velocity("transition.slideDownBigIn")
              $rootScope.enableScrollDetect();;
            }
          }
        }, 700);
      });
    };
  }
]);

var sunstandControllers = angular.module(
  'sunstandControllers',
  []
);
var sunstandServices = angular.module(
  'sunstandServices',
  ['ngResource', 'uiSlider', 'duScroll']
);


sunstandApp.config(
  ['$routeProvider', '$sceProvider', '$httpProvider', function($routeProvider, $sceProvider, $httpProvider) {
    $sceProvider.enabled(false);
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRF-Token';

    $routeProvider.
    when('/home', {
      templateUrl: '<%= asset_path("angular/landing/templates/index.html") %>',
      controller: 'LandingCtrl'
    }).
    when('/dashboard', {
      templateUrl: '<%= asset_path("angular/dashboard/templates/index.html") %>',
      controller: 'DashboardCtrl'
    }).
    when('/sign-in', {
      templateUrl: '<%= asset_path("angular/landing/templates/sign-in.html") %>',
      controller: 'LandingCtrl'
    }).
    when('/sign-up/:inviteCode?', {
      templateUrl: '<%= asset_path("angular/landing/templates/sign-up.html") %>',
      controller: 'LandingCtrl'
    }).
    when('/reset-password', {
      templateUrl: '<%= asset_path("angular/landing/templates/reset-password.html") %>',
      controller: 'LandingCtrl'
    }).
    when('/edit-password/:resetPasswordToken', {
      templateUrl: '<%= asset_path("angular/landing/templates/edit-password.html") %>',
      controller: 'LandingCtrl'
    }).

    // FAQ
    when('/customer-faq', {
      templateUrl: '<%= asset_path("angular/landing/templates/customer-faq.html") %>',
      controller: 'LandingCtrl'
    }).
    when('/advocate-faq', {
      templateUrl: '<%= asset_path("angular/landing/templates/advocate-faq.html") %>',
      controller: 'LandingCtrl'
    }).

    // Promo
    when('/create-wealth/:inviteCode?', {
      templateUrl: '<%=asset_path("angular/promo/templates/create-wealth.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/create-energy', {
      templateUrl: '<%=asset_path("angular/promo/templates/create-energy.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/why-solar', {
      templateUrl: '<%=asset_path("angular/promo/templates/why-solar.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/why-you', {
      templateUrl: '<%=asset_path("angular/promo/templates/why-you.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/why-direct-selling', {
      templateUrl: '<%=asset_path("angular/promo/templates/why-direct-selling.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/why-powur', {
      templateUrl: '<%=asset_path("angular/promo/templates/why-powur.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/our-origin', {
      templateUrl: '<%=asset_path("angular/promo/templates/our-origin.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/our-team', {
      templateUrl: '<%=asset_path("angular/promo/templates/our-team.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/our-dna', {
      templateUrl: '<%=asset_path("angular/promo/templates/our-dna.html")%>',
      controller: 'PromoCtrl'
    }).

    // University
    when('/university', {
      templateUrl: '<%=asset_path("angular/university/templates/index.html")%>',
      controller: 'UniversityCtrl'
    }).
    when('/university/classes/:classId/purchase', {
      templateUrl: '<%=asset_path("angular/university/templates/purchase.html")%>',
      controller: 'UniversityCtrl'
    }).

    // Library
    when('/library', {
      templateUrl: '<%=asset_path("angular/library/templates/index.html")%>',
      controller: 'LibraryCtrl'
    }).

    // Signed In User's static content pages
    when('/terms-of-service', {
      templateUrl: '<%=asset_path("angular/user-static-content/templates/terms-of-service.html")%>',
      controller: 'UserStaticContentCtrl'
    }).
    when('/privacy-policy', {
      templateUrl: '<%=asset_path("angular/user-static-content/templates/privacy-policy.html")%>',
      controller: 'UserStaticContentCtrl'
    }).
    when('/disclaimer', {
      templateUrl: '<%=asset_path("angular/user-static-content/templates/disclaimer.html")%>',
      controller: 'UserStaticContentCtrl'
    }).

    // User's Profile page
    when('/profile', {
      templateUrl: '<%=asset_path("angular/profile/templates/edit.html")%>',
      controller: 'ProfileCtrl'
    }).

    otherwise({
      redirectTo: '/home'
    });
  }]
);
