'use strict';

var sunstandApp = angular.module('sunstandApp', [
  'ngRoute',

  'sunstandControllers',
  'sunstandServices',

  // Directives
  // 'sunstandApp.signInForm',
  // 'sunstandApp.fileS3Uploader'
]).run(['$rootScope', '$location', '$document', '$http', 'CurrentUser',
  function ($rootScope, $location, $document, $http, CurrentUser) {
    $rootScope.currentUser = {};
    $rootScope.isSignedIn = !!SignedIn;

    /*
     * Fill in User object with data if user is signed in but object is empty
    */
    $rootScope.$on('$includeContentLoaded', function(event, next, current) {
      if ($rootScope.isSignedIn) {
        CurrentUser.get().then(function(data) {
          $rootScope.currentUser = data;
        });
      }
    });

    $rootScope.redirectToDashboardIfSignedIn = function() {
      if ($rootScope.isSignedIn) {
        window.location = '/u/dashboard';
      }
    };

    $rootScope.redirectUnlessSignedIn = function() {
      if (!$rootScope.isSignedIn) {
        window.location = '#/sign-in';
      }
    };

    $rootScope.removePiler = function(){
      $('html').removeClass('piling-on');
      $('#pp-nav').hide();
    };

    $rootScope.readyPiler = function(){
      if($location.path() === '/home' || '/create-energy' || '/create-wealth') {
        $('html').addClass('piling-on');
        setTimeout(function() {
          $rootScope.pagePiler();
        },100)
      }
    };

    $rootScope.pagePiler = function(){
      $('#pagepiling').pagepiling({
        menu: null,
        direction: 'vertical',
        verticalCentered: true,
        sectionsColor: [],
        anchors: [],
        scrollingSpeed: 700,
        easing: 'swing',
        loopBottom: false,
        loopTop: false,
        css3: true,
        navigation: {
          'textColor': '#fff',
          'bulletsColor': '#333',
          'position': 'right',
          'tooltips': ['Page 1', 'Page 2', 'Page 3', 'Page 4','Page 5','Page 6','Page 7']
        },
        normalScrollElements: null,
        normalScrollElementTouchThreshold: 5,
        touchSensitivity: 5,
        keyboardScrolling: true,
        sectionSelector: '.section',
        animateAnchor: false,
        //events
        onLeave: function(index, nextIndex, direction) {
          changeNavColor()
        },
        afterLoad: function(anchorLink, index) {
          animateActiveNav()
          $('header').addClass('invert');
          // $('footer').show();
          $('#pp-nav').fadeIn('slow');
          $('#dim_the_lights').css('opacity','1');

        },
        afterRender: function() {
          $('#pp-nav').hide();
        }
      });
      function animateActiveNav() {
        if ($('.pp-section.active').hasClass('inverted')) {
          $('#pp-nav').find('span').animate({backgroundColor:'transparent'},200);
          $('a.active').find('span').animate({backgroundColor:'#fff'},100);
          $.fn.pagepiling.updateColor('#fff')
        } else {
          $('#pp-nav').find('span').animate({backgroundColor:'transparent'},200);
          $('a.active').find('span').animate({backgroundColor:'#555'},100);
          $.fn.pagepiling.updateColor('#555')
        }
      }

      function changeNavColor() {
        if($('.pp-section.active').hasClass('inverted')){
          $('#pp-nav').find('span').animate({borderColor:'#fff'},200);
          $('a.active').find('span').css('background','#fff');
        } else {
          $('#pp-nav').find('span').animate({borderColor:'#555'},200);
          $('a.active').find('span').css('background','#555');
        }
      }
    };

    $rootScope.showModal = function(text, modalClass) {
      modalClass = modalClass || '';
      $('<div class=\'reveal-modal ' + modalClass + '\' data-reveal><h3>' + text + '</h3><a class=\'close-reveal-modal\'>&#215;</a></div>').foundation('reveal', 'open');
    };

    // TODO: move header functionality into its own directive
    $rootScope.invertHeaderColor = function() {
      var docEl = document.documentElement,
      header,
      height = $(window).height() - 20;
      window.onscroll = function headerScrollInvert() {
        var sTop = (this.pageYOffset || docEl.scrollTop) - (docEl.clientTop || 0);
        header = document.getElementById('sun_header_guest');

        if (!header) return;

        if (sTop > height) {
          if (header.className !== 'sun-header-guest invert') {
            header.setAttribute('class', 'sun-header-guest hidden');
            setTimeout(function invertHeader() {
              header.setAttribute('class', 'sun-header-guest invert');
            }, 200);
          }
        } else {
          if (header.className !== '') {
            header.setAttribute('class', 'sun-header-guest hidden');
            setTimeout(function invertHeader() {
              header.setAttribute('class', 'sun-header-guest');
            }, 200);
          }
        }
      };
    };

    // TODO: move header functionality into its own directive
    $rootScope.signOut = function() {
      var cb = function() {
        $rootScope.isSignedIn = false;
        // window.location = '#/sign-in';
        $location.path('/sign-in');
      };
      $http.delete('/login.json', {
        xsrfHeaderName: 'X-CSRF-Token'
      }).success(cb).error(cb);
    };

    $rootScope.gotoAnchor = function(id) {
      var duration = 500;
      var offset = 0; // pixels; adjust for floating menu, context etc
      // Scroll to #some-id with N px "padding"
      var someElement = angular.element(document.getElementById(id));
      $document.scrollToElement(someElement, offset, duration);
    };
  }
]);

var sunstandControllers = angular.module(
  'sunstandControllers',
  []
);
var sunstandServices = angular.module(
  'sunstandServices',
  ['ngResource', 'uiSlider', 'duScroll']
);


sunstandApp.config(
  ['$routeProvider', '$sceProvider', '$httpProvider', function($routeProvider, $sceProvider, $httpProvider) {
    $sceProvider.enabled(false);
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRF-Token';

    $routeProvider.
    when('/home', {
      templateUrl: '<%=asset_path("angular/landing/templates/index.html")%>',
      controller: 'LandingCtrl'
    }).
    when('/sign-in', {
      templateUrl: '<%=asset_path("angular/landing/templates/sign-in.html")%>',
      controller: 'LandingCtrl'
    }).
    when('/sign-up', {
      templateUrl: '<%=asset_path("angular/landing/templates/sign-up.html")%>',
      controller: 'LandingCtrl'
    }).
    when('/sign-up/:inviteCode', {
      templateUrl: '<%=asset_path("angular/landing/templates/sign-up.html")%>',
      controller: 'LandingCtrl'
    }).
    when('/reset-password', {
      templateUrl: '<%=asset_path("angular/landing/templates/reset-password.html")%>',
      controller: 'LandingCtrl'
    }).
    when('/edit-password/:resetPasswordToken', {
      templateUrl: '<%=asset_path("angular/landing/templates/edit-password.html")%>',
      controller: 'LandingCtrl'
    }).

    // FAQ
    when('/customer-faq', {
      templateUrl: '<%=asset_path("angular/landing/templates/customer-faq.html")%>',
      controller: 'LandingCtrl'
    }).
    when('/advocate-faq', {
      templateUrl: '<%=asset_path("angular/landing/templates/advocate-faq.html")%>',
      controller: 'LandingCtrl'
    }).

    // Promo
    when('/create-wealth', {
      templateUrl: '<%=asset_path("angular/promo/templates/create-wealth.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/create-energy', {
      templateUrl: '<%=asset_path("angular/promo/templates/create-energy.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/why-solar', {
      templateUrl: '<%=asset_path("angular/promo/templates/why-solar.html")%>',
      controller: 'PromoCtrl'
    }).
    when('/our-origin', {
      templateUrl: '<%=asset_path("angular/promo/templates/our-origin.html")%>',
      controller: 'PromoCtrl'
    }).

    // University
    when('/university', {
      templateUrl: '<%=asset_path("angular/university/templates/index.html")%>',
      controller: 'UniversityCtrl'
    }).
    when('/university/classes/:classId/purchase', {
      templateUrl: '<%=asset_path("angular/university/templates/purchase.html")%>',
      controller: 'UniversityCtrl'
    }).

    otherwise({
      redirectTo: '/home'
    });
  }]
);
