
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "promoter.js", "data-turbolinks-track" => true %>
<% end %>

<%= stylesheet_link_tag  "promoter", media: "all" %>
    <style>
    body#user header{
      background:transparent;
    }
    body#user header .main_logo a,
    body#user header #user_nav a{
      background:transparent;
    }

    video {
        top: 0;
        left: 0;
        min-width: 100%;
        height: auto;
        overflow: hidden;
        opacity:.8;
    }
    #join_sunstand, #zero_costs{
        height: auto;
        position: relative;

    }
    #join_sunstand:after,
    #zero_costs:after{
        content : "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url(/images/home/step2_join.jpg);
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        width: 100%;
        height: 100%;
        opacity : 0.25;
        z-index:-1;}
    #zero_costs:after{
        background-image: url(/images/home/step2_zero_costs2.jpg);
        background-position:top center;
    }

    #user_content,
    #promoter_signup_form,
    #user_content_callout{
        z-index:20;
    }
    #user_content_callout{
        text-align: center;
        color:#000;}
        #user_content_callout h1{
            padding-top:7%;
            font-size:80px;}
        #user_content_callout h2{
            font-size:28px;
            line-height: 36px;
        }
    #user_content{
        display:block;
        margin-top:5%;
        background:#333;
    }
    #user_content_wrapper{
        width:100%;
        margin:auto;
        background:#333;
        margin-top:3%;
        height:0px;
        position: relative;
        overflow: hidden;
    }

    footer{
        background:#404241;
    }
@media screen and (min-width: 640px){
    #meet_sunstand h1{
        display:block; margin:auto; padding-top:15%; color:#fff; font-size:100px;opacity:.8; line-height:110px;}
    #meet_sunstand hr {
        border:0; height:5px; opacity:.8; width:40%; margin:auto; background:#fff; margin-top:40px;}
    #meet_sunstand p{
        padding-top:30px; font-size:18px; width:50%; margin:auto;color:#fff;line-height: 30px;}
    #user_content_callout h1{
        padding-top:7%;
        line-height: 90px;
        font-size:80px;}
    #user_content_callout h2{
        font-size:28px;
        line-height: 36px;}
    #user_content_callout hr{
        border:0; height:5px; width:20%; margin:auto; background:#000; margin:2% auto;
    }
    #zero_costs p{
        padding-top:50px; font-size:20px; width:50%; margin:auto;color:#fff;line-height: 40px; color:#000;

    }
}
@media (max-width: 640px){
    #meet_sunstand h1{
        display:block; margin:auto; padding-top:25%; color:#fff; font-size:60px;opacity:.8; line-height:70px;}
    #meet_sunstand hr {
        border:0; height:5px; opacity:.8; width:60%; margin:auto; background:#fff; margin-top:25px;}
    #meet_sunstand p{
        padding-top:30px; font-size:18px; width:70%; margin:auto;color:#fff;line-height: 30px;}
    #user_content_callout h1{
        padding-top:7%;
        line-height: 60px;
        font-size:50px;}
    #user_content_callout h2{
        font-size:24px;
        line-height: 34px;}
    #user_content_callout hr{
        border:0; height:5px; width:40%; margin:auto; background:#000; margin:2% auto;
    }
    #zero_costs p{
        padding-top:30px; font-size:18px; width:70%; margin:auto;color:#fff;line-height: 30px; color:#000;
    }
}
</style>

<section id="movie" style="height:auto;background-color:#75b5d3;padding-bottom:0px;display:block;position:relative; overflow:hidden;">
        <video nocontrols id="intro" autoplay loop style="display:block;">
          <source src="/videos/Explore2.mp4" type="video/mp4">
          <source src="/videos/Explore.webm" type="video/webm">
        </video>
        <div id="meet_sunstand" style="position:absolute; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.3);">
            <h1>MEET POWUR</h1>
            <hr>
            <p>
                We are a Generation Y, new paradigm, cause-driven company and a leading edge, innovative platform that allows you to participate in one of the most meaningful wealth transfers in history, the shift from dirty to clean energy.
            </p>
        <div>
</section>


<section id="join_sunstand">
    <div id="user_content_callout" >
        <h1>JOIN SUNSTAND</h1>
        <h2 style="padding-top:2%;"><i>Earn up to $1,000 your firsrt week... FREE.</i></h2>
        <hr>

        <h2>LET'S GO MAKE HISTORY</h2>
        <a class="button" style="width:300px; margin:auto; cursor:pointer; float:none; display:block; font-size:18px;color:#000; border:1px solid #000; background:transparent;padding:20px; margin-top:3%;">Click Here</a>
    </div>

    <div id="user_content_wrapper">
        <div id="user_content" >
          <form id="promoter_signup_form" class="signup_form js-signup_form">

            <h3>Create your account</h3>
            <span class="form_row">
              <label for="first_name">First Name</label>
              <input id="first_name" name="first_name" type="text" placeholder="First Name" class="validate" value="<%= @invite.first_name %>"required/>
            </span>

            <span class="form_row">
              <label for="last_name">Last Name</label>
              <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="validate" value="<%= @invite.last_name %>"required/>
            </span>

            <span class="form_row">
              <label for="email">Email</label>
              <input id="email" name="email" type="text" placeholder="Email" class="validate" value="<%= @invite.email %>"required/>
            </span>

            <span class="form_row">
              <label for="phone">Phone</label>
              <input id="phone" name="phone" type="text" placeholder="Phone" class="validate" required/>
            </span>

            <span class="form_row">
              <label for="zip">Zip Code</label>
              <input id="zip" name="zip" type="text" placeholder="Zip Code" class="validate" required/>
            </span>

            <span class="form_row last">
              <label for="password">Password</label>
              <input id="password" name="password" type="password" placeholder="Create password" required/>
            </span>

            <span class="form_row checkbox">
              <input id="tos" name="tos" type="checkbox" class="checkbox" required/>
              <label for="tos" class="checkbox">I agree to the <a href="#">Terms of Service</a></label>
            </span>
            <input type="hidden" name="code" value="<%=params["code"]%>">

            <a class="js-signup_form button">Submit</a>

          </form>
        </div>
    </div>
</section>

<section id="zero_costs">
        <h1 style="font-size:40px;color:#000;padding-top:5%; line-height:48px; margin-bottom:0;">SunStand has $0 Start Up Costs</h1>
        <p>
              As you progress through the sunstand platfomr, we'll support you in reaching your higher goals every step of the way.  Because we're passionate about changing the world, it will always be free to become a Sunstand Advocate.  The more you grow your business, the more rewards and perks you'll see.  When the time comes, upgrading to a Pro account gets you access to advanced tools, training, reporting, and incentives so you can make an even bigger impact.
        </p>
        <p>
            When you register today, you'll gain access to Sunstand's proprietary technology.  Beyond just the fancy words, that means you'll have access to powerful business building tools... and we'll even show you how to make an extra $000 this week following our getting started plan.
        </p>
        <br><br><br>
</section>

<script>
    $("#user_content_callout .button").on("click", function(e){
        e.preventDefault();
        $(this).css("display","none");
        $("#user_content_wrapper").animate({"height":"630px"});
    })
</script>
