<!doctype html>
<html ng-app="powurApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Powur Administration</title>
  <base href="/">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic|Architects+Daughter|Muli|Open+Sans|Varela+Round" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "admin", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "modernizr/modernizr" %>
</head>
<body>
  <!-- Admin Header -->
  <ng-include src="'shared/admin/header.html'"></ng-include>
  <!-- Bread Crumbs -->
  <ng-include src="'shared/admin/breadcrumbs.html'"></ng-include>
  <!-- Page Content -->
  <div class="row">
    <div class="small-12 columns">
      <!-- Main -->
      <ng-view autoscroll="true"></ng-view>
    </div>
  </div>

  <!-- TODO: deprecate -->
  <script type="text/javascript">
    SignedIn = <%= current_user ? 'true' : 'false' %>;
  </script>

  <%= javascript_include_tag "admin" %>
</body>
</html>
