<!DOCTYPE html>
<html>
<head>
  <title>Mysolar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

</head>
<body>
	<header>
		
		<nav>
			<ul>
				<li>
					<%= link_to_unless_current 'Dashboard', "/dashboard" %>
				</li>
				<li>
					<%= link_to_unless_current 'Settings', "/settings" %>
				</li>
			</ul>
	
			<ul id="user_nav">
				<li>
					<a href="/user">Sign out</a>
				</li>
			</ul>
		</nav>

	</header>

	<%= yield %>

	<%= render :partial => "shared/dev_nav" %>

</body>
</html>
