<!DOCTYPE html>
<html>
<head>
	<title>SunStand</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	
	<%= render :partial => "shared/head" %>

</head>
<body>
	<header>
		
		<nav>
			<ul>
				<li class="main_logo">	
					<a href="/">
						<%= render :partial => "shared/sunstand_logo_svg" %>
					</a>
				</li>
				<li>
					<%= link_to_unless_current 'Dashboard', "/dashboard" %>
				</li>
				
				<% if params[:pro] == "true" %>
					<li>
						<%= link_to_unless_current 'Organization', "/organization" %>
					</li>
				<% else %>
					<li>
						<%= link_to_unless_current 'Upgrade', "/upgrade" %>
					</li>
				<% end %>

				
				<li>
					<%= link_to_unless_current 'Training', "/training" %>
				</li>
				<li>
					<%= link_to_unless_current 'Settings', "/settings" %>
				</li>
			</ul>
	
			<ul id="user_nav">
				<li>Jonathan: [rank]</li>
				<li>
					<a href="/user">Sign out</a>
				</li>
			</ul>
		</nav>

	</header>

	<%= render :partial => "shared/our_goal" %>

	<%= yield %>

	<%= render :partial => "shared/warp_nav" %>

</body>
</html>
