<!doctype html>
<html ng-app="powurApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=1000">
  <!-- Open Graph Tags -->
  <meta property="og:title" content="Powur">
  <meta property="og:site_name" content="Powur">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.powur.com/">
  <meta property="og:description" content="Powur is building the world's first entrepreneurial 
  platform for solar energy. We're putting solar panels on 2,000,000 homes by 2025 and 
  facilitating one of the most meaningful transfers of wealth in history by decentralizing the 
  production of energy.">
  <meta property="og:image" content="https://www.powur.com<%= asset_path("landing/bg-3.jpg") %>">
  <title>Welcome to Powur</title>
  <base href="/">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic|Architects+Daughter|Muli|Open+Sans|Varela+Round" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <%= render('layouts/fonts') %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "modernizr/modernizr" %>
</head>
<body>

  <%= yield %>

  <!-- TODO: deprecate -->
  <script type="text/javascript">
    SignedIn = <%= current_user ? 'true' : 'false' %>;
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>