<!DOCTYPE html>
<html>
<head>
	<title>SunStand</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "Chart", "data-turbolinks-track" => true %>
	<%= yield :javascript_includes %>
	<%= csrf_meta_tags %>
	
	<%= render :partial => "shared/head" %>

</head>
<body id="application">
	<header>
		<div id="header_container">
			<nav>
				<ul>
					<li class="main_logo">	
						<a href="/">
							<%= render :partial => "shared/sunstand_logo_svg" %>
						</a>
					</li>
					<li>
						<%= link_to_unless_current 'Dashboard', "/dashboard" %>
					</li>	
					<li>
						<%= link_to_unless_current 'Training', "/training" %>
					</li>
				</ul>
		
				<ul id="user_nav">
					<li>
						<%= link_to_unless_current 'Jonathan: Level 6', "/settings" %>
					</li>
					<li>
						<a href="/user">Sign out</a>
					</li>
				</ul>
			</nav>
		</div>

		<%= render :partial => "shared/our_goal" %>

	</header>

	<%= yield %>

	<%= render :partial => "shared/warp_nav" %>

</body>
</html>
