<!doctype html>
<html ng-app="powurApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Powur</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic|Architects+Daughter|Muli|Open+Sans|Varela+Round" rel="stylesheet">
  <%= stylesheet_link_tag 'new/application' %>
  <%= yield :header_includes %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
<%= yield :bottom_includes %>
</body>
</html>
