<!DOCTYPE html>
<html>
<head>
	<title>SunStand</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Muli|Lato' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
</head>
<body>
	<header>
		
		<nav>
			<ul>
				<li>
					<%= render :partial => "shared/sunstand_logo_svg" %>
				</li>
				<li>
					<%= link_to_unless_current 'Dashboard', "/dashboard" %>
				</li>
				<li>
					<%= link_to_unless_current 'Training', "/training" %>
				</li>
				<li>
					<%= link_to_unless_current 'Settings', "/settings" %>
				</li>
			</ul>
	
			<ul id="user_nav">
				<li>
					<a href="/user">Sign out</a>
				</li>
			</ul>
		</nav>

	</header>

	<%= yield %>

	<%= render :partial => "shared/warp_nav" %>

</body>
</html>
