<!DOCTYPE html>
<html>
<head>
	<title>Welcome to SunStand</title>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag  "index", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "index", "data-turbolinks-track" => true %>
	<%= yield :javascript_includes %>
	<%= csrf_meta_tags %>

	<%= render :partial => "shared/head" %>
	
</head>
<body id="landing">
	<header class="js_scrolling_header">

		<nav>
			<ul>
				<li class="main_logo">	
					<a href="/">
						<%= render :partial => "shared/sunstand_logo_svg" %>
					</a>
				</li>
			</ul>

			<ul id="user_nav">
				<li>
					<%= link_to_unless_current 'Sign in', "/user" %>
				</li>
			</ul>
		</nav>

	</header>

	<%= yield %>

	<%= render :partial => "shared/footer" %>

	<%= render :partial => "shared/warp_nav" %>

</body>
</html>
