<!DOCTYPE html>
<html>
<head>
  <title>Mysolar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

</head>
<body>
	<header>
		Index/landing header goes here.

		<nav>
			<ul id="user_nav">
				<li>
					<a href="/user">Sign up/in</a>
				</li>
			</ul>
		</nav>

	</header>

	<section>
		<%= yield %>
	</section>

	<footer>A big fat footer with a bunch of links.</footer>

	<%= render :partial => "shared/dev_nav" %>

</body>
</html>
