<!DOCTYPE html>
<html ng-app="sunstandAdminApp">
<head>
  <title>Powur Administration</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-resource.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'new/admin', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic|Architects+Daughter|Muli|Open+Sans|Varela+Round' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  <%= stylesheet_link_tag 'new/admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Admin Header -->
  <ng-include src="'<%=asset_path("shared/admin/header.html") %>'"></ng-include>
  <!-- Bread Crumbs -->
  <ng-include src="'<%=asset_path("shared/admin/breadcrumbs.html") %>'"></ng-include>
  <!-- Page Content -->
  <div class="row">
    <div class="small-12 columns">
      <!-- Main -->
      <ng-view onload="foundation();" autoscroll="true"></ng-view>
    </div>
  </div>

  <script type="text/javascript">
    SignedIn = <%= current_user ? 'true' : 'false' %>;
  </script>

</body>
</html>
