<!DOCTYPE html>
<html ng-app="sunstandApp">
<head>
  <title>Welcome to Powur</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-resource.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'new/application', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'new/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render :partial => "shared/head" %>
</head>
<body>

  <ng-view autoscroll=""></ng-view>

  <script type="text/javascript">
    SignedIn = <%= current_user ? 'true' : 'false' %>;
  </script>

</body>
</html>
