<!DOCTYPE html>
<html ng-app="sunstandApp">
<head>
  <title>Welcome to Powur</title>
  <%= javascript_include_tag 'modernizr/modernizr.js' %>
  <%= javascript_include_tag 'new/application' %>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  <%= stylesheet_link_tag 'new/application', media: 'all' %>
  <%= stylesheet_link_tag 'jquery.pagepiling', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render :partial => "shared/head" %>
</head>
<body>

  <ng-view autoscroll="true"></ng-view>

  <script type="text/javascript">
    SignedIn = <%= current_user ? 'true' : 'false' %>;
  </script>

</body>
</html>
