<!DOCTYPE html>
<html>
<head>
	<title>Welcome to SunStand</title>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag  "user", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "user", "data-turbolinks-track" => true %>
	

	<%= yield :javascript_includes %>
	<%= csrf_meta_tags %>

	<%= render :partial => "shared/head" %>
	
</head>
<body id="user">
	<header>
		<nav>
			<ul>
				<li class="main_logo">	
					<a href="/">
						<%= render :partial => "shared/sunstand_logo_svg" %>
					</a>
				</li>
			</ul>
			<ul id="user_nav">
				<li>
					<%= link_to 'Sign in', login_path %>
				</li>
			</ul>
		</nav>
	</header>

	<%= yield %>
	<%= render :partial => "shared/footer" %>

	<%#= render :partial => "shared/warp_nav" %>

</body>
</html>
